<div style="width: 100%; height: 100%; background: white; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
    <div style="height: 5541px; padding-top: 50px; padding-bottom: 50px; flex-direction: column; justify-content: center; align-items: center; display: flex">
        <div style="align-self: stretch; height: 1378px; flex-direction: column; justify-content: flex-start; align-items: center; display: flex">
            <div style="width: 1240px; height: 587px; background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%); border-top-left-radius: 20px; border-top-right-radius: 20px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
                <div style="width: 365px; height: 43px; background: white; border: 0.50px solid"></div>
            </div>
            <div style="align-self: stretch; height: 466px; padding-top: 100px; padding-bottom: 100px; background: #F9F9F9; border-radius: 20px; flex-direction: column; justify-content: center; align-items: center; gap: 16px; display: flex">
                <div style="align-self: stretch; text-align: center; color: #020E35; font-size: 28px; font-family: Poppins; font-weight: 500; letter-spacing: 0.56px; word-wrap: break-word">Introduction</div>
                <div style="width: 998px; text-align: center; color: #020E35; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 400; line-height: 26px; letter-spacing: 0.16px; word-wrap: break-word">Discover the Secret to Korean Wellness, Now in Indonesia<br/><br/>At Vitazen, we believe that health and beauty are a harmony of the mind, body, and soul. Inspired by Korea's renowned commitment to innovation and excellence, we bring you premium wellness products tailored for the Indonesian market. Our mission is to redefine your health and beauty journey, making it more accessible, effective, and enjoyable.<br/><br/>With a commitment to quality, transparency, and customer care, Vitazen is not just a store—it's a community dedicated to empowering your health journey. Join us in shaping a future where wellness is a lifestyle, not a luxury.</div>
            </div>
            <img style="width: 1240px; height: 325px; position: relative" src="https://via.placeholder.com/1240x325" />
        </div>
        <div style="align-self: stretch; height: 538px; padding-left: 50px; padding-right: 50px; padding-top: 100px; padding-bottom: 100px; background: #F9F9F9; flex-direction: column; justify-content: center; align-items: center; gap: 50px; display: flex">
            <div style="width: 736px; text-align: center"><span style="color: #020E35; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 700; line-height: 26px; letter-spacing: 0.16px; word-wrap: break-word">The name Vitazen is inspired by two key elements: "Vita" and "Zen."<br/><br/></span><span style="color: #020E35; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 400; line-height: 26px; letter-spacing: 0.16px; word-wrap: break-word">1. "Vita" comes from the Latin word for life. This reflects Vitazen’s primary mission to support health and a better lifestyle, enabling individuals to live a meaningful and high-quality life.<br/><br/>2. "Zen" refers to the Zen philosophy from Eastern traditions, emphasizing balance, harmony, and peace of mind. <br/><br/>The name Vitazen represents the brand's commitment to providing high-quality Korean products that promote holistic health and help consumers find balance in their lives. <br/><br/>The philosophy behind the name aligns with Vitazen's goal to be a trusted partner in the journey toward a healthy and harmonious lifestyle.</span></div>
        </div>
        <div style="align-self: stretch; height: 1200px; padding-left: 50px; padding-right: 50px; padding-top: 100px; padding-bottom: 100px; background: #F9F9F9; flex-direction: column; justify-content: center; align-items: center; display: flex">
            <div style="align-self: stretch; padding-top: 50px; padding-bottom: 50px; justify-content: center; align-items: center; gap: 100px; display: inline-flex">
                <div style="flex: 1 1 0; align-self: stretch; padding-left: 20px; padding-right: 20px; padding-top: 30px; padding-bottom: 30px; border-radius: 20px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 16px; display: inline-flex">
                    <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
                        <div style="color: #020E35; font-size: 24px; font-family: Plus Jakarta Sans; font-weight: 600; line-height: 26px; letter-spacing: 0.24px; word-wrap: break-word">Our Vision</div>
                    </div>
                    <div style="align-self: stretch; color: #020E35; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 400; line-height: 26px; letter-spacing: 0.16px; word-wrap: break-word">To bring the best health standards from Korea to Indonesia<br/>Become the top choice for Indonesians in meeting their health and beauty needs.</div>
                </div>
                <div style="width: 520px; height: 400px; position: relative; background: linear-gradient(0deg,  0%,  100%); border-radius: 20px; overflow: hidden; background-image: url(https://via.placeholder.com/520x400)"></div>
            </div>
            <div style="align-self: stretch; padding-top: 50px; padding-bottom: 50px; justify-content: center; align-items: center; gap: 100px; display: inline-flex">
                <img style="width: 520px; height: 400px; position: relative; background: linear-gradient(0deg,  0%,  100%); border-radius: 20px" src="https://via.placeholder.com/520x400" />
                <div style="flex: 1 1 0; padding-left: 20px; padding-right: 20px; padding-top: 30px; padding-bottom: 30px; border-radius: 20px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 16px; display: inline-flex">
                    <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
                        <div style="color: #020E35; font-size: 24px; font-family: Plus Jakarta Sans; font-weight: 600; line-height: 26px; letter-spacing: 0.24px; word-wrap: break-word">Our Mission</div>
                    </div>
                    <div style="align-self: stretch; color: #020E35; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 400; line-height: 26px; letter-spacing: 0.16px; word-wrap: break-word">To provide high-quality, safe, and trustworthy products.<br/>Raise public awareness about the importance of maintaining good health.<br/>To be a reliable health partner for every customer.</div>
                </div>
            </div>
        </div>
        <div style="height: 325px; padding-left: 249px; padding-right: 249px; background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%); justify-content: center; align-items: center; display: inline-flex">
            <div style="color: white; font-size: 60px; font-family: Plus Jakarta Sans; font-weight: 400; line-height: 26px; word-wrap: break-word">Embrace the Zen in Vitality</div>
        </div>
        <div style="align-self: stretch; padding: 50px; background: #F9F9F9; justify-content: flex-start; align-items: center; gap: 100px; display: inline-flex">
            <div style="flex: 1 1 0"><span style="color: #020E35; font-size: 20px; font-family: Plus Jakarta Sans; font-weight: 700; line-height: 30px; letter-spacing: 0.20px; word-wrap: break-word">Clinically Tested & Certified in Indonesia</span><span style="color: #020E35; font-size: 20px; font-family: Plus Jakarta Sans; font-weight: 400; line-height: 30px; letter-spacing: 0.20px; word-wrap: break-word">       All our products have undergone rigorous clinical testing in Korea and are certified to meet Indonesian standards. We ensure that every product you receive is safe, effective, and of the highest quality.</span></div>
            <img style="width: 520px; height: 400px; position: relative; background: linear-gradient(0deg,  0%,  100%); border-radius: 20px" src="https://via.placeholder.com/520x400" />
        </div>
        <div style="align-self: stretch; padding: 50px; background: #F9F9F9; justify-content: flex-start; align-items: center; gap: 100px; display: inline-flex">
            <img style="width: 520px; height: 400px; position: relative; border-radius: 20px" src="https://via.placeholder.com/520x400" />
            <div style="flex: 1 1 0"><span style="color: #020E35; font-size: 20px; font-family: Plus Jakarta Sans; font-weight: 700; line-height: 30px; letter-spacing: 0.20px; word-wrap: break-word">Premium Products from Korea</span><span style="color: #020E35; font-size: 20px; font-family: Plus Jakarta Sans; font-weight: 400; line-height: 30px; letter-spacing: 0.20px; word-wrap: break-word">       Only the best products are carefully selected directly from Korea, including Snovv, a revolutionary supplement drink with extraordinary benefits for your skin, muscles, and overall immunity.</span></div>
        </div>
        <div style="align-self: stretch; padding: 50px; background: #F9F9F9; justify-content: flex-start; align-items: center; gap: 100px; display: inline-flex">
            <div style="flex: 1 1 0"><span style="color: #020E35; font-size: 20px; font-family: Plus Jakarta Sans; font-weight: 700; line-height: 30px; letter-spacing: 0.20px; word-wrap: break-word">A Holistic Approach to Health</span><span style="color: #020E35; font-size: 20px; font-family: Plus Jakarta Sans; font-weight: 400; line-height: 30px; letter-spacing: 0.20px; word-wrap: break-word">       Vitazen doesn’t just sell products; we provide integrated health solutions. We help you find the right products to meet your health and beauty needs.</span></div>
            <img style="width: 520px; height: 400px; position: relative; border-radius: 20px" src="https://via.placeholder.com/520x400" />
        </div>
        <div style="align-self: stretch; padding: 50px; background: #F9F9F9; justify-content: flex-start; align-items: center; gap: 100px; display: inline-flex">
            <img style="width: 520px; height: 400px; position: relative; border-radius: 20px" src="https://via.placeholder.com/520x400" />
            <div style="flex: 1 1 0"><span style="color: #020E35; font-size: 20px; font-family: Plus Jakarta Sans; font-weight: 700; line-height: 30px; word-wrap: break-word">Products to Support a Healthy Lifestyle</span><span style="color: #020E35; font-size: 20px; font-family: Plus Jakarta Sans; font-weight: 400; line-height: 30px; word-wrap: break-word">       From health supplements to skincare products, we offer a wide range of options designed to enhance your healthy lifestyle.</span></div>
        </div>
    </div>
    <div style="align-self: stretch; height: 574px; padding-top: 50px; padding-bottom: 50px; border-radius: 20px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 50px; display: flex">
        <div style="height: 474px; padding-top: 50px; padding-bottom: 50px; background: #FBF7FF; border-radius: 20px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 50px; display: flex">
            <div style="align-self: stretch; height: 64px; text-align: center; color: #020E35; font-size: 56px; font-family: Poppins; font-weight: 500; word-wrap: break-word">Get Our Products</div>
            <div style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 30px; display: flex">
                <div style="width: 870px; height: 28px; text-align: center; color: #9FA6AF; font-size: 16px; font-family: Manrope; font-weight: 700; text-transform: uppercase; letter-spacing: 1.60px; word-wrap: break-word">You can buy Our products online at the marketplace below.</div>
                <div style="justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
                    <div style="height: 44px; padding-left: 15px; padding-right: 15px; padding-top: 10px; padding-bottom: 10px; background: white; border-radius: 10px; border: 1px #020E35 solid; justify-content: center; align-items: center; gap: 10px; display: flex">
                        <img style="width: 24px; height: 24px" src="https://via.placeholder.com/24x24" />
                        <div style="text-align: center; color: #020E35; font-size: 16px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">Shopee</div>
                    </div>
                    <div style="height: 44px; padding-left: 15px; padding-right: 15px; padding-top: 10px; padding-bottom: 10px; background: white; border-radius: 10px; border: 1px #020E35 solid; justify-content: center; align-items: center; gap: 10px; display: flex">
                        <img style="width: 24px; height: 24px" src="https://via.placeholder.com/24x24" />
                        <div style="text-align: center; color: #020E35; font-size: 16px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">Tokopedia</div>
                    </div>
                </div>
            </div>
            <div style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 30px; display: flex">
                <div style="width: 870px; height: 28px; text-align: center; color: #9FA6AF; font-size: 16px; font-family: Manrope; font-weight: 700; text-transform: uppercase; line-height: 59px; letter-spacing: 1.60px; word-wrap: break-word">ALSO Our products are available at</div>
                <div style="justify-content: flex-start; align-items: center; gap: 80px; display: inline-flex">
                    <img style="width: 170.60px; height: 50px" src="https://via.placeholder.com/171x50" />
                    <img style="width: 142.79px; height: 50px" src="https://via.placeholder.com/143x50" />
                    <img style="width: 140.66px; height: 50px; border-radius: 10px" src="https://via.placeholder.com/141x50" />
                    <img style="width: 254.24px; height: 50px" src="https://via.placeholder.com/254x50" />
                </div>
            </div>
        </div>
    </div>
    <div style="height: 160px; padding-top: 50px; padding-bottom: 50px; background: #A083DE; flex-direction: column; justify-content: flex-start; align-items: center; gap: 10px; display: flex">
        <div style="width: 1334px; justify-content: center; align-items: center; gap: 100px; display: inline-flex">
            <div style="justify-content: center; align-items: center; gap: 10px; display: flex">
                <div style="width: 60px; height: 60px; padding: 10px; background: #F1E9FA; border-radius: 100px; overflow: hidden; border: 3px #ECDCFF solid; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                    <div style="width: 35px; height: 35px; background: #A083DE"></div>
                </div>
                <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 2px; display: inline-flex">
                    <div style="color: white; font-size: 18px; font-family: Poppins; font-weight: 600; line-height: 27px; word-wrap: break-word">High Quality</div>
                    <div style="color: white; font-size: 14px; font-family: Poppins; font-weight: 500; line-height: 21px; word-wrap: break-word">Top International Products</div>
                </div>
            </div>
            <div style="justify-content: center; align-items: center; gap: 10px; display: flex">
                <div style="width: 60px; height: 60px; padding: 10px; background: #F1E9FA; border-radius: 100px; overflow: hidden; border: 3px #ECDCFF solid; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                    <div style="width: 35px; height: 35px; position: relative">
                        <div style="width: 35px; height: 32.65px; left: -0px; top: 1.18px; position: absolute; background: #A083DE"></div>
                    </div>
                </div>
                <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 2px; display: inline-flex">
                    <div style="color: white; font-size: 18px; font-family: Poppins; font-weight: 600; line-height: 27px; word-wrap: break-word">Free Shipping</div>
                    <div style="color: white; font-size: 14px; font-family: Poppins; font-weight: 500; line-height: 21px; word-wrap: break-word">Order overRp200.00</div>
                </div>
            </div>
            <div style="justify-content: center; align-items: center; gap: 10px; display: flex">
                <div style="width: 60px; height: 60px; padding: 10px; background: #F1E9FA; border-radius: 100px; overflow: hidden; border: 3px #ECDCFF solid; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                    <div style="width: 45px; height: 45px; position: relative">
                        <div style="width: 18.91px; height: 18.77px; left: 25.31px; top: 7.66px; position: absolute; background: #A083DE"></div>
                        <div style="width: 13.36px; height: 15.26px; left: 13.85px; top: 17.65px; position: absolute; background: #A083DE"></div>
                        <div style="width: 5.91px; height: 5.70px; left: 15.82px; top: 29.18px; position: absolute; background: #A083DE"></div>
                        <div style="width: 9.70px; height: 8.23px; left: 17.79px; top: 31.15px; position: absolute; background: #A083DE"></div>
                        <div style="width: 4.92px; height: 4.71px; left: 24.68px; top: 32.55px; position: absolute; background: #A083DE"></div>
                        <div style="width: 4.78px; height: 4.71px; left: 26.79px; top: 30.59px; position: absolute; background: #A083DE"></div>
                        <div style="width: 4.78px; height: 4.71px; left: 28.76px; top: 28.62px; position: absolute; background: #A083DE"></div>
                        <div style="width: 32.27px; height: 31.71px; left: 2.32px; top: 7.10px; position: absolute; background: #A083DE"></div>
                        <div style="width: 16.24px; height: 16.24px; left: 0.91px; top: 5.70px; position: absolute; background: #A083DE"></div>
                        <div style="width: 1.41px; height: 1.41px; left: 10.51px; top: 21.26px; position: absolute; transform: rotate(-45deg); transform-origin: 0 0; background: #A083DE"></div>
                        <div style="width: 8.37px; height: 13.29px; left: 11.95px; top: 16.66px; position: absolute; background: #A083DE"></div>
                        <div style="width: 17.86px; height: 8.79px; left: 11.32px; top: 17.23px; position: absolute; background: #A083DE"></div>
                    </div>
                </div>
                <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 2px; display: inline-flex">
                    <div style="color: white; font-size: 18px; font-family: Poppins; font-weight: 600; line-height: 27px; word-wrap: break-word">Partnership</div>
                    <div style="color: white; font-size: 14px; font-family: Poppins; font-weight: 500; line-height: 21px; word-wrap: break-word">Online Registration Form</div>
                </div>
            </div>
            <div style="justify-content: flex-start; align-items: center; gap: 10px; display: flex">
                <div style="width: 60px; height: 60px; padding: 10px; background: #F1E9FA; border-radius: 100px; overflow: hidden; border: 3px #ECDCFF solid; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                    <div style="width: 40px; height: 40px; position: relative">
                        <div style="width: 35.29px; height: 40px; left: 2.35px; top: -0px; position: absolute; background: #A083DE"></div>
                    </div>
                </div>
                <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 2px; display: inline-flex">
                    <div style="color: white; font-size: 18px; font-family: Poppins; font-weight: 600; line-height: 27px; word-wrap: break-word">24 / 7 Support</div>
                    <div style="color: white; font-size: 14px; font-family: Poppins; font-weight: 500; line-height: 21px; word-wrap: break-word">Dedicated support</div>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 1440px; height: 362px; padding-top: 51px; padding-bottom: 66px; padding-left: 108px; padding-right: 39px; background: #E8DDFF; border-top: 1px rgba(20, 65, 80, 0.20) solid; justify-content: flex-end; align-items: flex-end; gap: 539px; display: inline-flex">
        <div style="height: 229px; flex-direction: column; justify-content: space-between; align-items: flex-start; display: inline-flex">
            <div style="width: 195px; height: 23px; background: #0F1C38; border: 0.50px white solid"></div>
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 21px; display: flex">
                <div style="width: 350px; color: #0F1C38; font-size: 17px; font-family: Plus Jakarta Sans; font-weight: 400; line-height: 26px; word-wrap: break-word">Sign up for email updates on products, launches and events.</div>
                <div style="justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
                    <div style="width: 250px; align-self: stretch; padding-left: 15px; padding-right: 15px; background: #F7F7F7; border-radius: 5px; border: 1px #D8D8E5 solid; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                        <div style="flex: 1 1 0; color: #878787; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 12px; word-wrap: break-word">Email</div>
                    </div>
                    <div style="padding-left: 20px; padding-right: 20px; padding-top: 10px; padding-bottom: 10px; background: #0F1C38; border-radius: 5px; border: 1px solid; justify-content: center; align-items: center; gap: 10px; display: flex">
                        <div style="color: white; font-size: 16px; font-family: Poppins; font-weight: 500; word-wrap: break-word">Submit</div>
                    </div>
                </div>
            </div>
        </div>
        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 20px; display: inline-flex">
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 20px; display: flex">
                <div style="width: 396px"><span style="color: #0F1C38; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 700; line-height: 24px; word-wrap: break-word">Contact Us<br/></span><span style="color: #0F1C38; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 400; line-height: 24px; word-wrap: break-word"><br/>AIA CENTRAL 21st FL. <br/>Jl. Jenderal Sudirman No.Kav. 48A, <br/>Karet Semanggi, Kecamatan Setiabudi, <br/>Kota Jakarta Selatan, DKI Jakarta 12930</span></div>
            </div>
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 38px; display: flex">
                <div style="text-align: center; color: #0F1C38; font-size: 18px; font-family: Plus Jakarta Sans; font-weight: 400; text-decoration: underline; line-height: 28.80px; word-wrap: break-word">admin@vitazen.com</div>
            </div>
            <div style="justify-content: flex-start; align-items: center; gap: 24px; display: inline-flex">
                <div style="width: 32px; height: 32px; justify-content: center; align-items: center; display: flex">
                    <div style="width: 32px; height: 32px; position: relative">
                        <div style="width: 32px; height: 32px; left: 0px; top: 0px; position: absolute; background: #0F1C38"></div>
                        <div style="width: 17.60px; height: 20px; left: 7.21px; top: 6px; position: absolute; background: white"></div>
                    </div>
                </div>
                <div style="width: 32px; height: 32px; justify-content: center; align-items: center; display: flex">
                    <div style="width: 32px; height: 32px; position: relative">
                        <div style="width: 32px; height: 32px; left: 0px; top: 0px; position: absolute; background: #0F1C38"></div>
                        <div style="width: 20px; height: 14.62px; left: 6px; top: 8.69px; position: absolute; background: white"></div>
                    </div>
                </div>
                <div style="width: 32px; height: 32px; justify-content: center; align-items: center; display: flex">
                    <div style="width: 32px; height: 32px; position: relative">
                        <div style="width: 32px; height: 32px; left: 0px; top: 0px; position: absolute; background: #0F1C38"></div>
                        <div style="width: 20px; height: 20px; left: 6px; top: 6px; position: absolute">
                            <div style="width: 20px; height: 20px; left: 0px; top: 0px; position: absolute; background: white"></div>
                            <div style="width: 10.35px; height: 10.35px; left: 4.83px; top: 4.83px; position: absolute; background: white"></div>
                            <div style="width: 2.56px; height: 2.56px; left: 13.92px; top: 3.55px; position: absolute; background: white"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 1440px; height: 86px; padding-left: 91px; padding-right: 91px; padding-top: 28px; padding-bottom: 28px; background: #0F1C38; justify-content: space-between; align-items: center; display: inline-flex">
        <div style="text-align: center; color: white; font-size: 18px; font-family: Atkinson Hyperlegible; font-weight: 400; line-height: 28.80px; word-wrap: break-word">© Vitazen. 2024 All rights reserved.</div>
        <div style="justify-content: flex-start; align-items: flex-start; gap: 42px; display: flex">
            <div style="text-align: center; color: white; font-size: 18px; font-family: Atkinson Hyperlegible; font-weight: 400; line-height: 28.80px; word-wrap: break-word">Privacy Policy</div>
            <div style="text-align: center; color: white; font-size: 18px; font-family: Atkinson Hyperlegible; font-weight: 400; line-height: 28.80px; word-wrap: break-word">Terms & Conditions</div>
        </div>
    </div>
</div>