.contactus-section {
  .container {
    max-width: unset;
    padding: 5rem 15rem 5rem 15rem;
  }
  .end_gap {
    padding-right: 4rem;
  }
  .start_gap {
    padding-left: 4rem;
  }
    h1 {
      font-size: 56px;
      font-weight: 500;
      color: #1a1a1a;
    }
  
    p {
      font-size: 1.2rem;
      margin-bottom: 20px;
    }
  
    hr {
      padding: 1rem 0;
      border-top: 3px solid #020E3533;
      margin-bottom: 20px;
    }
  
    .contact-info {
      .info-item {
        display: flex;
        align-items: center;
        margin: 2rem 0 0 0;
  
        i {
          font-size: 24px;
          color: #6c63ff; // Adjust color as needed
          margin-right: 10px;
        }
  
        h6 {
          font-weight: bold;
          margin: 0 0 5px 10px;
          color: #1a1a1a;
        }
  
        p {
          margin: 0 10px;
          font-size: 1rem;
          color: #5a5a5a;
        }
      }
    }
  
    form {
      .form-group {
        margin-bottom: 1.5rem;
  
        input,
        textarea {
          border: 1px solid #eaeaea;
          border-radius: 5px;
          padding: 10px;
          font-size: 14px;
        }
  
        input::placeholder,
        textarea::placeholder {
          color: #aaa;
        }
      }
    }
  }
  