.contactus-section {
  padding: 96px 100px;

  .end_gap {
    padding-right: 50px;
  }
  .start_gap {
    padding-left:50px;
  }
    h1 {
      // Contact Us
      color: #020E35;
      font-size: 56px;
      font-family: Poppins;
      font-weight: 500;
      word-wrap: break-word
    }
  
    span {
      // We’re here for you. Send us a message using the form below and we'll get back to you promptly!
      color: #020E35;
      font-size: 16px;
      font-family: Poppins;
      font-weight: 500;
      word-wrap: break-word
    }
  
    .lineWrapper {
      width: 100%; padding: 30px 0;
      flex-direction: column; 
      justify-content: flex-start; align-items: flex-start; 
      gap: 10px; display: inline-flex;

      .lineSeparator {
        width: 100%; border: 1px rgba(2, 14, 53, 0.20) solid;
      }
    }

    .lineWrapperGap {
      display: none;
      .lineSeparatorGap {
        display: none;
      }
    }
  
    .contact-info {
      width: 100%; 
      height: fit-content; 
      flex-direction: column; 
      justify-content: flex-start; 
      align-items: flex-start; 
      gap: 30px; 
      display: inline-flex;

      .email-item {
          width: 100%; 
          height: 100%; 
          justify-content: flex-start; 
          align-items: center; 
          gap: 20px; 
          display: inline-flex;
        img {
          width: 48px; height: 48px;
          }
        .textEmail {
          flex-direction: column; 
          justify-content: flex-start; 
          align-items: flex-start; 
          display: inline-flex
        }
  
        span {
          width: 96px; 
          color: #181C32; 
          font-size: 16px; 
          font-family: Plus Jakarta Sans; 
          font-weight: 700; 
          line-height: 24px; 
          word-wrap: break-word
        }
  
        p {
          width: 278px; 
          color: #181C32; 
          font-size: 16px; 
          font-family: Plus Jakarta Sans; 
          font-weight: 400; 
          line-height: 24px; 
          word-wrap: break-word
        }
      }
      .adress-item {
        align-self: stretch; 
        justify-content: flex-start; 
        align-items: flex-start; 
        gap: 20px; 
        display: inline-flex;

        img {
          width: 48px; height: 48px;
        }
        .textAdress {
          flex: 1 1 0; 
          flex-direction: column; 
          justify-content: flex-start; 
          align-items: flex-start; 
          display: inline-flex;

          span {
            width: 96px; 
            color: #181C32; 
            font-size: 16px; 
            font-family: Plus Jakarta Sans; 
            font-weight: 700; 
            line-height: 24px; 
            word-wrap: break-word;
          }
          p {
            align-self: stretch; 
            color: #181C32; 
            font-size: 16px; 
            font-family: Plus Jakarta Sans; 
            font-weight: 400; 
            line-height: 24px; 
            word-wrap: break-word
          }
        }
      }
    }
  
    form {
      width: 100%; 
      height: 100%; 
      flex-direction: column; 
      justify-content: flex-start; 
      align-items: center; 
      gap: 30px; 
      display: inline-flex;
      .form-group {
        align-self: stretch; 
        gap: 30px; 
        display: inline-flex;
  
        input,textarea {
          height: 70px; 
          padding-left: 15px; 
          padding-right: 15px; 
          padding-top: 10px; 
          padding-bottom: 10px; 
          background: #F8F8F8; 
          border: none;
          border-radius: 6px; 
          justify-content: flex-start; 
          align-items: center;
          gap: 10px; 
          display: inline-flex;
        }
  
        input::placeholder,
        textarea::placeholder {          
          font-size: 16px; 
          font-family: Montserrat; 
          font-weight: 500; 
          line-height: 14px; 
          word-wrap: break-word;
        }
      }
      .btnSend {
        width: 100%;
        height: 60px; 
        padding-left: 15px; 
        padding-right: 15px; 
        padding-top: 10px; 
        padding-bottom: 10px; 
        background: #A083DE; 
        border-radius: 5px; 
        border: 1px solid; 
        justify-content: center; 
        align-items: center; 
        gap: 10px; 
        display: inline-flex;
        color: white; 
        font-size: 16px; 
        font-family: Poppins; 
        font-weight: 500; 
        line-height: 14px; 
        word-wrap: break-word;
      }
    }
  }

@media screen and (max-width: 375px) {
  
}

@media screen and (max-width: 767px) {

  .contactus-section {
    padding: 55px 20px;
    h1 {
      // Contact Us
      font-size: 24px;
    }
    .end_gap, .start_gap {
      padding: unset;
    }
    .lineWrapperGap {
      width: 100%; padding: 30px 0 50px 0;
      flex-direction: column;
      justify-content: flex-start; align-items: flex-start; 
      gap: 10px; display: inline-flex;
      .lineSeparatorGap {
        display: inline-flex; width: 100%; border: 1px rgba(2, 14, 53, 0.20) solid;
      }
    }
  }

}

@media screen and (min-width: 768px) and (max-width: 991px) {

  .contactus-section {
    padding: 55px 40px;
    h1 {
      // Contact Us
      font-size: 32px;
    }
    .col-md-6 {
      flex: 0 0 auto;
      width: 100%;
    }
    .end_gap, .start_gap {
      padding: unset;
    }
    .lineWrapperGap {
      width: 100%; padding: 30px 0 50px 0;
      flex-direction: column;
      justify-content: flex-start; align-items: flex-start; 
      gap: 10px; display: inline-flex;
      .lineSeparatorGap {
        display: inline-flex; width: 100%; border: 1px rgba(2, 14, 53, 0.20) solid;
      }
    }
  }

}

@media screen and (min-width: 992px) and (max-width: 1380px) {

  .contactus-section {
    padding: 55px 40px;
    h1 {
      // Contact Us
      font-size: 38px;
    }
    .end_gap, .start_gap {
      padding: 1.5rem;
    }
  }

}