.hero {
  margin-bottom: 4rem;
    .carousel-item {
      width: 100%;
      .row {
        align-items: center;
      }
  
      .hero-text {
        text-align: left;
        padding: 2rem;
  
        h1 {
          font-size: 2.5rem;
          font-weight: bold;
          color: #001f3f; // Dark blue for main text
          line-height: 1.2;f
  
          br {
            display: block;
          }
        }
  
        p {
          margin: 1rem 0;
          font-size: 1.2rem;
          color: #6c757d; // Muted color for subheading
        }
  
        .btn {
          margin-top: 1rem;
          padding: 0.8rem 1.5rem;
          font-size: 1rem;
          background-color: #BAA6E7; // Custom purple button
          color: #fff;
          border: none;
          border-radius: 5px;
          display: inline-flex;
          align-items: center;
  
          i {
            margin-left: 0.5rem;
          }
  
          &:hover {
            background-color: #5436d2; // Darker purple on hover
          }
        }
      }
  
      .hero-image {
        text-align: center;
        img {
          height: auto;
          object-fit: cover;
        }
      }
    }
  
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      background-color: rgba(0, 0, 0, 0.5); // Semi-transparent controls
      border-radius: 50%;
    }
  }

  .vidYoutube {
    margin: 6rem 0 2rem 0;
    align-items: center;
    justify-content: center;
    place-content: center;

    .vid {
      width:1280px;
      height:720px;
      border-radius: 7px;

    }
  }
  

.products {
    padding: 3rem 0;
    
    .product_container {
      margin: 2rem 10rem 2rem 10rem;
      place-content: space-between;
    }
    .wrapper {
      display: flex;
      place-content: space-between;
    }
    .btn {
      background-color: #F6F2FF;
      border-radius: 7px;
      color:#A083DE;
      height: fit-content;
      font-size: 1.5rem;
      padding: 10px 1rem 10px 1rem;
    }
  
    h1 {
      font-size: 3.5rem;
      font-weight: 500;
      margin-bottom: 3rem;
    }
  
    .card {
      border-radius: 10px;
      overflow: hidden;
  
      &-img-top {
        height: fit-content;
        object-fit: cover;
        border-bottom: 1px solid #ddd;
      }
  
      &-body {
        padding: 1.5rem;
  
        .card-title {
          margin-left: 1rem;
          font-size: x-large;
          text-align: left;
          font-weight: 500;
          color: #001f3f;
        }
  
        .card-price {
          margin-left: 1rem;
          text-align: left;
          font-size: large;
          margin-top: 0.5rem;
  
          .price-new {
            font-weight: bold;
          }
  
          .price-old {
            text-decoration: line-through;
            margin-left: 0.5rem;
          }
        }
      }
  
      &:hover {
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
      }
    }
  
    .btn-outline-primary {
      font-size: 1rem;
      padding: 0.8rem 1.5rem;
      border-radius: 5px;
      transition: all 0.3s ease;
  
      &:hover {
        color: #fff;
      }
    }
  }
  
.promo-section {
   .container {
    max-width: 1140px; // Menyesuaikan lebar container standar Bootstrap
    padding-left: 15px;
    padding-right: 15px;
    }
    .carousel-indicators li {
      cursor: pointer;
      width: 10px;
      height: 10px;
      border-radius: 100%;
    }
    
    h2 {
      font-size: 2.5rem;
      font-weight: bold;
      color: #333;
    }
  
    h3 {
      font-size: 1.5rem;
      font-weight: bold;
      color: #6c63ff;
      margin: 15px 0;
    }
  
    a.btn-primary {
      
      padding: 10px 20px;
      font-size: 1rem;
      text-transform: uppercase;
      transition: all 0.3s ease;
      color:white;
        
    }
  }

.reviewWebsite {
  margin: 2rem 10rem 5rem 10rem;

  h1 {
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 3rem;
  }

  .multiple-card-slider .carousel-inner {
    display: flex;
    margin-top: 1rem;
    padding: 1em;
  }
  .multiple-card-slider .carousel-inner .carousel-item.active,
  .multiple-card-slider .carousel-inner .carousel-item {
      margin: 0 5px;
      display: flex;
      flex: none;
  }
  .multiple-card-slider .card {
      border-radius: 7px;
      border: none;
  }
  .carousel-control-prev,
  .carousel-control-next,
  .multiple-card-slider .carousel-control-prev,
  .multiple-card-slider .carousel-control-next {
      background-color: #e1e1e1;
      width: 3em;
      height: 3em;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
  }
  @media (min-width: 768px) {
      .multiple-card-slider .carousel-item {
      margin-right: 0;
      flex: 0 0 calc(100% / 3);
      display: block;
      backface-visibility: visible;
      }
      .multiple-card-slider .carousel-inner {
      display: flex;
      }
  }
  .carousel {
    position: relative;
 }           
 .carousel-control-prev , .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: TranslateY(-50%);
 }
  .carausel-inner {
    padding: 0 1rem 0 1rem;
  }
  .carousel-control-prev {
    right: 55rem;
 }
  .card {
    border-radius: 7px;
    overflow: hidden;
    &-img-top {
      height: 30%;
      width: auto;
      object-fit: cover;
      border-bottom: 1px solid #ddd;
    }
    &-body {
      padding: 1.5rem;
      .card-title {
        margin-left: 1rem;
        font-size: x-large;
        text-align: left;
        font-weight: 500;
      }
      .starWrapper {
        display: flex;
        margin-bottom: 1rem;
      }
      .checked {
        color:orange;
      }      
      .personWrapper {
        display: flex;
        place-content: start;
        span {
          font-weight: 600;
        }
        p {
          text-overflow: ellipsis;
          height: 2rem;
        }
      }
      .personWeb {
        width: fit-content;
        display: block;
        border-radius: 100px;
        margin-right: 1rem;
      }

    }
  }
  &:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
}


.slider {
  width: 100%;
  margin: 50px auto;
}

.slick-slide {
margin: 0px 20px;
}

.slick-slide img {
width: 100%;
}

.slick-prev:before,
.slick-next:before {
color: black;
}


.slick-slide {
transition: all ease-in-out .3s;
opacity: .2;
}

.slick-active {
opacity: .5;
}

.slick-current {
opacity: 1;
}


.reviewIGVid {
  margin: 2rem 10rem 5rem 10rem;

  h1 {
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 3rem;
  }
  .carousel {
    position: relative;
 }           
 .carousel-control-prev , .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: TranslateY(-50%);
 }
  .carausel-inner {
    padding: 0 1rem 0 1rem;
  }
  .carousel-control-prev {
    right: 55rem;
 }
  .card {
    border-radius: 7px;
    overflow: hidden;
    &-img-top {
      height: 30%;
      width: auto;
      object-fit: cover;
      border-bottom: 1px solid #ddd;
    }
    &-body {
      padding: 1.5rem;
      .card-title {
        margin-left: 1rem;
        font-size: x-large;
        text-align: left;
        font-weight: 500;
      }
      .starWrapper {
        display: flex;
        margin-bottom: 1rem;
      }
      .checked {
        color:orange;
      }      
      .personWrapper {
        display: flex;
        place-content: start;
        span {
          font-weight: 600;
        }
        p {
          text-overflow: ellipsis;
          height: 2rem;
        }
      }
      .personWeb {
        width: fit-content;
        display: block;
        border-radius: 100px;
        margin-right: 1rem;
      }

    }
  }
  &:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
}

.reviewShop {
  margin: 2rem 10rem 5rem 10rem;

  .carousel {
    position: relative;
 }           
 .carousel-control-prev , .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: TranslateY(-50%);
 }
  .carausel-inner {
    padding: 0 1rem 0 1rem;
  }
  .carousel-control-prev {
    right: 55rem;
 }
  .col-md-6 {
    margin: 0 1rem;
  }
  .checked {
    color:orange;
  }
  .imgProduct {
    height:"220px";
  }      
  .personWrapper {
    display: flex;
    place-content: start;
    span {
      font-weight: 600;
    }
    p {
      text-overflow: ellipsis;
      height: 2rem;
    }
  }
  .icShop {
    margin-right: 1rem;
  }
  .card:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
}

.avaibleStore {
  margin: 2rem 10rem 2rem 10rem;

  .container {
    border-radius: 8px;
    background-color: #8e37e5;
    padding: 3rem;
  }
  h6 {
    font-family: Manrope;
    color: #9FA6AF;
    font-size: 2rem;
    font-weight: 600;
    padding: 2rem;
  }

  .col-md-2 {
    width: auto;
    gap: 20rem;
  }
}

.vSight {
  padding: 3rem 0;
    
    .vsight_container {
      margin: 2rem 10rem 2rem 10rem;
      place-content: space-between;
    }
    .wrapper {
      display: flex;
      place-content: space-between;
    }
    .btn {
      background-color: #F6F2FF;
      border-radius: 7px;
      color:#A083DE;
      height: fit-content;
      font-size: 1.5rem;
      padding: 10px 1rem 10px 1rem;
    }
  
    h1 {
      font-size: 3.5rem;
      font-weight: 500;
      margin-bottom: 3rem;
    }
    .Vcontent {
      img {
        border-radius: 8px;
        width: 100%;
        margin-bottom: 2rem;
      }
      h4 {
        font-size: 1.6rem;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
        margin-bottom: 10px;
      }
      p {
        font-size: 1.1rem;
      }

    }
  
    .btn-outline-primary {
      font-size: 1rem;
      padding: 0.8rem 1.5rem;
      border-radius: 5px;
      transition: all 0.3s ease;
  
      &:hover {
        color: #fff;
      }
    }
}