.hero {
  .row {
    margin-top: unset;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); // Semi-transparent controls
    border-radius: 50%;
  }
  .btnshopWrapperHero1 {
    left: 78px; top: 363px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex;
    .btnshopLink {
      width: fit-content; height:fit-content; padding: 10px 20px; background: #A083DE; border-radius: 5px; border: 1px solid; 
      justify-content: center; align-items: center; 
      gap: 10px; display: inline-flex;
      .shopLinkText {
        color: white; font-size: 16px; 
        font-family: Poppins; font-weight: 500; 
        word-wrap: break-word;
      }
    }
  }
  .btnshopWrapperHero2 {
    left: 78px; top: 384px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex;
    .btnshopLink {
      width: fit-content; height:fit-content; padding: 10px 20px; background: #020E35; border-radius: 5px; border: 1px solid; 
      justify-content: center; align-items: center; 
      gap: 10px; display: inline-flex;
      .shopLinkText {
        color: white; font-size: 16px; 
        font-family: Poppins; font-weight: 500; 
        word-wrap: break-word;
      }
    }
  }
}

  .vidYoutube {
    width: 100%; height: 100%; padding-top: 82px; padding-bottom: 97px; padding-left: 90px; padding-right: 90px; background: rgba(255, 255, 255, 0.10); justify-content: center; align-items: center; display: inline-flex;
    .vidBox {
      width: 1260px; height: 673px; position: relative;
    }
    .thumbVid {
      width: 1260px; height: 673px; left: 0px; top: 0px; position: absolute; box-shadow: 0px 0px 0px; border-radius: 20px; filter: blur(0px); cursor: pointer;
    }
    .playButton {
      width: 109.43px; height: 108.56px; padding: 20px; left: 575.72px; top: 273.78px; position: absolute; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex; cursor: pointer;
    }
  }

  .products {
    width: 100%; height: 100%; 
    padding: 70px 101px 31px 101px;
    background: rgba(255, 255, 255, 0.10);
    justify-content: center; align-items: center; 
    display: inline-flex;
      .productWrapper {
        padding-bottom: 48px; align-self: stretch; 
        flex-direction: column; justify-content: center; 
        align-items: flex-start; gap: 48px; 
        display: inline-flex;
  
        .headerWrapper {
          width:1240px; align-self: stretch; justify-content: space-between; 
          align-items: center; display: inline-flex;
          .titleText {
            text-align: center; color: #020E35; 
            font-size: 56px; font-family: Poppins; 
            font-weight: 500; word-wrap: break-word;
          }
          .viewmoreWrapper {
            padding:10px 20px; background: #F6F2FF; 
            border-radius: 5px; justify-content: center; 
            align-items: center; gap: 10px; display: flex;
            .btnViewmore {
              text-decoration: none; color: #A083DE; 
              font-size: 16px; font-family: Poppins; 
              font-weight: 500; word-wrap: break-word;
            }
          }
        }
  
        .listproductWrapper {
          justify-content: flex-start; align-items: flex-start; gap: 30px; display: inline-flex;
          .cardProduct {
            flex-direction: column; justify-content: center; align-items: center; gap: 20px; display: inline-flex; text-decoration: none;
            .pictProductWrapper {
              width: 392px; height: 400px; border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: center; align-items: center; display: flex;
              .pictProduct {
                width: 392px; height: 400px;
              }
            }
            .productDescWrapper {
              align-self: stretch; height: 61px; 
              padding:0 5px; flex-direction: column; 
              justify-content: center; align-items: flex-start; 
              display: flex;
              .productName {
                color: black; font-size: 20px; 
                font-family: Poppins; font-weight: 400; 
                line-height: 32px; word-wrap: break-word;
              }
              .priceproductWrapper {
                align-self: stretch; justify-content: flex-start; 
                align-items: center; gap: 10px; display: inline-flex;
                .discountPrice {
                  color: #020E35; font-size: 18px; font-family: Plus Jakarta Sans; font-weight: 700; line-height: 28.80px; word-wrap: break-word;
                }
                .normalPrice {
                  text-align: center; color: rgba(2, 14, 53, 0.50); font-size: 14px; font-family: Plus Jakarta Sans; font-weight: 500; text-decoration: line-through; text-transform: capitalize; line-height: 16.80px; word-wrap: break-word;
                }
                .ratediscountWrapper {
                  padding-left: 8px; padding-right: 8px; padding-top: 5px; padding-bottom: 5px; background: #FFC9C9; border-radius: 50px; justify-content: center; align-items: center; gap: 2px; display: flex;
                  .rateText {
                    color: #CF0003; font-size: 14px; font-family: Inter; font-weight: 700; line-height: 16.80px; word-wrap: break-word;
                  }
                }
              }
            }
          }
        }
      }
    }
  
.promo-section {
  padding: 32px 102px 108px 102px; 
  width: 100%; height: 100%; 
  align-items: center; 
  justify-content: center;
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      filter: invert(100%);
    }
    .custom-indicators {
      position: absolute;
      bottom: -60px;
    }
    .custom-indicators .active {
      background-color: black; /* Black for the active dot */
      width: 30px; /* Elongate the active indicator */
      border-radius: 14px; /* Round shape */
    }

    .custom-indicators button {
        background-color: gray; /* Gray for inactive dots */
        width: 10px; /* Default size */
        height: 10px;
        border-radius: 50%;
    }


    
    h2 {
      font-size: 2.5rem;
      font-weight: bold;
      color: #333;
    }
  
    h3 {
      font-size: 1.5rem;
      font-weight: bold;
      color: #6c63ff;
      margin: 15px 0;
    }
  
    a.btn-primary {
      
      padding: 10px 20px;
      font-size: 1rem;
      text-transform: uppercase;
      transition: all 0.3s ease;
      color:white;
        
    }
  }

.reviewWebsite {

  .multiple-card-slider .carousel-inner {
    width: 100%; 
    height: 100%; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 24px; 
    padding: 44px 0;
    display: inline-flex;
  }

  .multiple-card-slider .carousel-control-prev,
  .multiple-card-slider .carousel-control-next {
      filter: invert(100%);
      width: 4em;
      height: 4em;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
      margin-left:-50px;
      margin-right: -50px;
  }
  @media (min-width: 768px) {
    .multiple-card-slider .carousel-item {
      margin-right: 0;
      display: block;
      backface-visibility: visible;
    }
    .multiple-card-slider .carousel-inner {
      display: flex;
    }
  }
}

.reviewIGVid {

  .multiple-card-slider .carousel-inner {
    width: 100%; 
    height: 100%; 
    justify-content: flex-start; 
    align-items: flex-start;
    gap: 40px;
    padding: 50px 0; 
    display: inline-flex;
  }

  .multiple-card-slider .carousel-item,
  .multiple-card-slider .carousel-item.active {
    width: 338.37px; height: 600px; position: relative;

    .btnPlay {
      position: absolute; 
      top: 50%; 
      left: 50%; 
      transform: translate(-50%, -50%); 
      display: flex; 
      align-items: center; 
      justify-content: center; 
      cursor: pointer;
    }

    .IGimg {
      width: 338.37px; 
      height: 600px; 
      border-radius: 20px; 
      overflow: hidden; 
      display: inline-flex;
      cursor: pointer;
    }
  }

  .multiple-card-slider .carousel-control-prev,
  .multiple-card-slider .carousel-control-next {
    overflow: hidden; 
    backdrop-filter: blur(10px);
    background-color: #FFFFFF;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    margin-left:20px;
    margin-right: 20px;
    
    span {
      filter: invert(100%);
    }
  }
  @media (min-width: 768px) {
    .multiple-card-slider .carousel-item {
      margin-right: 0;
      display: block;
      backface-visibility: visible;
    }
    .multiple-card-slider .carousel-inner {
      display: flex;
    }
  }
}

.reviewShop {
  width: 100%; height: 100%; position: relative; padding-top: 30px;

  .multiple-card-slider .carousel-inner {
    width: 100%; height: 100%; 
    justify-content: flex-start;
    align-items: center; gap: 24px; 
    display: inline-flex;
  }

    .itemWrapper{
      width: 626px; height: 100%; background: white; 
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15); 
      border-radius: 10px; border: 1px rgba(0, 0, 0, 0) solid; 
      justify-content: center; align-items: center; 
      gap: 20px; display: inline-flex;

      .imgReview{
        width: 200px; height: 200px;
        border-radius: 10px 0 0 10px;
        overflow: hidden; 
        justify-content: center; 
        align-items: center; 
        display: flex;

        .picProduct {
          width: 200px; height: 200px;
        }
      }

      .reviewWrapper {
        flex: 1 1 0; align-self: stretch; 
        padding-left: 20px; padding-right: 20px; 
        flex-direction: column; justify-content: center; 
        align-items: flex-start; gap: 10px; 
        display: inline-flex;
        
        .ratingWrapper {
          justify-content: flex-start; 
          align-items: flex-start; 
          gap: 5px; display: inline-flex;
        }

        .textReview {
          align-self: stretch; height: 78px; 
          color: black; font-size: 16px; 
          font-family: Plus Jakarta Sans;
          font-weight: 400; line-height: 25.60px; 
          word-wrap: break-word;
        }
        .userWrapper {
          justify-content: flex-start; align-items: center; 
          gap: 10px; display: inline-flex;
          .iconShop {
            width: 32px; height: 32px;
          }
          .dateInfo {
            flex-direction: column; justify-content: flex-start; 
            align-items: flex-start; gap: 4px; display: inline-flex;
            .userWrapper {
              color: #444444; font-size: 12px; 
              font-family: Plus Jakarta Sans; 
              font-weight: 500; line-height: 18px; 
              word-wrap: break-word;
            }
            .dateWrapper {
              color: #444444; font-size: 10px; 
              font-family: Plus Jakarta Sans; 
              font-weight: 400; line-height: 12px;
              word-wrap: break-word;
            }
          }
        }
      }
    }

  .multiple-card-slider .carousel-control-prev,
  .multiple-card-slider .carousel-control-next {
      filter: invert(100%);
      width: 4em;
      height: 4em;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
      margin-left:-60px;
      margin-right: -60px;
  }
  @media (min-width: 768px) {
    .multiple-card-slider .carousel-item {
      margin-right: 0;
      display: block;
      backface-visibility: visible;
    }
    .multiple-card-slider .carousel-inner {
      display: flex;
    }
  }
}

.avaibleStore {
  width: 100%;
  margin: 88px 0 84px 0;
  display: inline-flex;
  justify-content: center; 
  align-items: center; 

  .container {
    width: 1240px;
    padding-top: 50px; 
    padding-bottom: 50px; 
    background: #FBF7FF; 
    border-radius: 20px; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 50px; 
    display: inline-flex;
  }
  span {
    width: 870px; 
    height: 28px; 
    text-align: center; 
    color: #9FA6AF; 
    font-size: 16px; 
    font-family: Plus Jakarta Sans; 
    font-weight: 700; 
    text-transform: uppercase; 
    line-height: 59px; 
    letter-spacing: 1.60px; 
    word-wrap: break-word;
  }
  .colImg {
    justify-content: flex-start; 
    align-items: center; 
    gap: 80px; 
    display: inline-flex;
  }
}

.vSight { 
}
  .title {
    width: 100%; 
    text-align: center; 
    color: #020E35; 
    font-size: 56px; 
    font-family: Poppins; 
    font-weight: 500; 
    word-wrap: break-word;
  }
  .row {
    margin-top: 48px;
  }
  
  .vsight-container {
    justify-content: flex-start;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 48px;
  }
  
  @media (min-width: 768px) {
    .vsight-container{
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
  
  @media (min-width: 1024px) {
    .vsight-container{
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }

  .linkToDetail {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 20px; 
    display: inline-flex
  }
  .Vimg {
    width: 413.33px;
    height: 300px; 
    position: relative; 
    border-radius: 20px
  }
  .Vwrapper {
    align-self: stretch; 
    height: 50px;
    padding-left: 5px; 
    padding-right: 5px; 
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
    display: flex
  }
  .vTitle {
    align-self: stretch; 
    color: #020E35;
    font-size: 20px; 
    font-family: Poppins; 
    font-weight: 600; 
    line-height: 24px; 
    word-wrap: break-word
  }

  .vDate {
    color: #020E35; 
    font-size: 16px; 
    font-family: Plus Jakarta Sans; 
    font-weight: 500; 
    line-height: 25.60px; 
    word-wrap: break-word
  }