.hero {
  .imgHeroItem {
    height:810px; object-fit: cover;
  }
  .row {
    margin-top: unset;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); // Semi-transparent controls
    border-radius: 50%;
  }
  .btnshopWrapperHero1 {
    left: 85px; top: 467px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex;
    .btnshopLink {
      width: fit-content; height:fit-content; padding: 10px 20px; background: #A083DE; border-radius: 5px; border: 1px solid; 
      justify-content: center; align-items: center; 
      gap: 10px; display: inline-flex;
      .shopLinkText {
        color: white; font-size: 16px; 
        font-family: Poppins; font-weight: 500; 
        word-wrap: break-word;
      }
    }
  }
  .btnshopWrapperHero2 {
    left: 85px; top: 488px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex;
    .btnshopLink {
      width: fit-content; height:fit-content; padding: 10px 20px; background: #020E35; border-radius: 5px; border: 1px solid; 
      justify-content: center; align-items: center; 
      gap: 10px; display: inline-flex;
      .shopLinkText {
        color: white; font-size: 16px; 
        font-family: Poppins; font-weight: 500; 
        word-wrap: break-word;
      }
    }
  }
}

.vidYoutube {
    width: 100%; height: 100%; padding: 82px 90px 97px 90px; background: rgba(255, 255, 255, 0.10); justify-content: center; align-items: center; display: inline-flex;
    .vidBox {
      width: 1260px; height: 673px; position: relative;
    }
    .thumbVid {
      width: 100%; height: 100%; left: 0px; top: 0px; position: absolute; box-shadow: 0px 0px 0px; border-radius: 20px; filter: blur(0px); cursor: pointer;
    }
    .playButton {
      width: 109.43px; height: 108.56px; padding: 20px; left: 575.72px; top: 273.78px; position: absolute; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex; cursor: pointer;
    }
}

.products-home {
    width: 100%; height: 100%; 
    padding: 70px 101px 31px 101px;
    background: rgba(255, 255, 255, 0.10);
    justify-content: center; align-items: center;
    display: inline-flex;
      .productWrapper {
        padding-bottom: 48px; align-self: stretch;
        flex-direction: column; justify-content: center; 
        align-items: flex-start; gap: 48px; 
        display: inline-flex;
  
        .headerWrapper {
          width:1240px; align-self: stretch; justify-content: space-between; 
          align-items: center; display: inline-flex;
          .titleText {
            text-align: center; color: #020E35; 
            font-size: 56px; font-family: Poppins; 
            font-weight: 500; word-wrap: break-word;
          }
          .viewmoreWrapper {
            padding:10px 20px; background: #F6F2FF; 
            border-radius: 5px; justify-content: center; 
            align-items: center; gap: 10px; display: flex;
            .btnViewmore {
              text-decoration: none; color: #A083DE; 
              font-size: 16px; font-family: Poppins; 
              font-weight: 500; word-wrap: break-word;
            }
          }
        }
  
        .listproductWrapper {
          justify-content: flex-start; align-items: flex-start; gap: 30px; display: inline-flex;
          .cardProduct {
            flex-direction: column; justify-content: center; align-items: center; gap: 20px; display: inline-flex; text-decoration: none;
            .pictProductWrapper {
              width: 392px; height: 400px; border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: center; align-items: center; display: flex;
              .pictProduct {
                width: 392px; height: 400px;
              }
            }
            .productDescWrapper {
              align-self: stretch; height: 61px; 
              padding:0 5px; flex-direction: column; 
              justify-content: center; align-items: flex-start; 
              display: flex;
              .productName {
                color: black; font-size: 20px; 
                font-family: Poppins; font-weight: 400; 
                line-height: 32px; word-wrap: break-word;
              }
              .priceproductWrapper {
                align-self: stretch; justify-content: flex-start; 
                align-items: center; gap: 10px; display: inline-flex;
                .discountPrice {
                  color: #020E35; font-size: 18px; font-family: Plus Jakarta Sans; font-weight: 700; line-height: 28.80px; word-wrap: break-word;
                }
                .normalPrice {
                  text-align: center; color: rgba(2, 14, 53, 0.50); font-size: 14px; font-family: Plus Jakarta Sans; font-weight: 500; text-decoration: line-through; text-transform: capitalize; line-height: 16.80px; word-wrap: break-word;
                }
                .ratediscountWrapper {
                  padding-left: 8px; padding-right: 8px; padding-top: 5px; padding-bottom: 5px; background: #FFC9C9; border-radius: 50px; justify-content: center; align-items: center; gap: 2px; display: flex;
                  .rateText {
                    color: #CF0003; font-size: 14px; font-family: Inter; font-weight: 700; line-height: 16.80px; word-wrap: break-word;
                  }
                }
              }
            }
          }
        }
      }
}
  
.promo-section {
  padding: 32px 102px 108px 102px;
  width: 100%; height: 100%;
  align-items: center; 
  justify-content: center;

    .itemPromo {
      width: 100%; height: 100%; padding: 0 200px;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      filter: invert(100%);
      width: 3rem;
      height: 3rem;
    }
    .custom-indicators {
      position: absolute;
      bottom: -60px;
    }
    .custom-indicators .active {
      background-color: black; /* Black for the active dot */
      width: 30px; /* Elongate the active indicator */
      border-radius: 14px; /* Round shape */
    }

    .custom-indicators button {
        background-color: gray; /* Gray for inactive dots */
        width: 10px; /* Default size */
        height: 10px;
        border-radius: 50%;
    }
}

.reviewWebsite {

    .titleTextrev {
      padding:70px 0 65px 0; width:100%; 
      display: block; text-align: center; 
      color: #020E35; font-size: 56px; 
      font-family: Poppins; font-weight: 500; 
      word-wrap: break-word;
    }
  
    .multiple-card-slider .carousel-inner {
      width: 100%; 
      height: 100%; 
      position: relative;
      justify-content: flex-start; 
      align-items: flex-start; 
      gap: 24px; 
      padding: 44px 0;
      display: inline-flex;
    }
  
    .multiple-card-slider .carousel-control-prev,
    .multiple-card-slider .carousel-control-next {
        filter: invert(100%);
        width: 4em;
        height: 4em;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
        margin-left:-50px;
        margin-right: -50px;
    }

    .websiterevWrapper {
      width: 100%; flex: 1 1 0; 
      padding-bottom: 20px; 
      background: white; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15); 
      border-radius: 10px; border: 1px rgba(0, 0, 0, 0) solid; 
      flex-direction: column; 
      justify-content: center; align-items: center; 
      gap: 20px; display: inline-flex;

      .revImgBox {
        width: 100%; 
        border-top-left-radius: 10px; 
        border-top-right-radius: 10px; 
        overflow: hidden; flex-direction: column; 
        justify-content: center; align-items: center; 
        display: flex;
        .websiterevPict {
          width: 302px; height: 320px;
        }
      }
      .commentrevWrapper {
        width:100%; align-self: stretch;
        padding-left: 20px; padding-right: 20px; 
        flex-direction: column; 
        justify-content: center; align-items: flex-start; 
        gap: 10px; display: flex;

        .ratingrevBox {
          justify-content: flex-start; align-items: flex-start; 
          gap: 5px; display: inline-flex;
        }
        .websiterevText {
          align-self: stretch;
          color: black; font-size: 16px; 
          font-family: Plus Jakarta Sans; 
          font-weight: 400; overflow: hidden; 
          text-overflow: ellipsis; 
          display: -webkit-box; 
          -webkit-line-clamp: 2; 
          -webkit-box-orient: vertical; 
          word-wrap: break-word; line-height: 1.3;
        }
        .custInfoWrapper {
          justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex;

          .userFoto {
            width: 40px; height: 40px; 
            background: linear-gradient(0deg, #D9D9D9 0%, #D9D9D9 100%); 
            border-radius: 9999px;
          }
          .userNameDateWrapper {
            flex-direction: column; 
            justify-content: flex-start; align-items: flex-start; 
            gap: 4px; display: inline-flex;

            .revNameText {
              color: #444444; font-size: 12px; font-family: Plus Jakarta Sans; 
              font-weight: 600; line-height: 18px; word-wrap: break-word;
            }
            .revDateText {
              color: #444444; font-size: 10px; font-family: Plus Jakarta Sans; 
              font-weight: 400; line-height: 12px; word-wrap: break-word;
            }
          }
        }
      }
    }
      .multiple-card-slider .carousel-item {
        margin-right: 0;
        display: block;
        backface-visibility: visible;
      }
      .multiple-card-slider .carousel-inner {
        display: flex;
      }
}

.reviewIGVid {

  .multiple-card-slider .carousel-inner {
    width: 100%; 
    height: 100%; 
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    padding: 50px 0; 
    display: inline-flex;
  }

  .multiple-card-slider .carousel-item,
  .multiple-card-slider .carousel-item.active {
    width: 338px; height: 600px; position: relative; display: block; flex: none;

    .btnPlay {
      position: absolute;
      top: 50%; 
      left: 50%; 
      transform: translate(-50%, -50%); 
      display: flex; 
      align-items: center; 
      justify-content: center; 
      cursor: pointer;
    }

    .IGimg {
      width: 338px; height: 600px; 
      border-radius: 20px; 
      overflow: hidden; 
      display: inline-flex;
      cursor: pointer;
    }
  }

  .multiple-card-slider .carousel-control-prev,
  .multiple-card-slider .carousel-control-next {
    overflow: hidden; 
    backdrop-filter: blur(10px);
    background-color: #FFFFFF;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    margin-left:20px;
    margin-right: 20px;
    
    span {
      filter: invert(100%);
    }
  }
  .multiple-card-slider .carousel-item {
    margin-right: 0;
    display: block;
    backface-visibility: visible;
  }
  .multiple-card-slider .carousel-inner {
    display: flex;
  }
}

.reviewShop {
  width: 100%; height: 100%; position: relative; padding-top: 30px;

  .multiple-card-slider .carousel-inner {
    width: 100%; height: 100%; 
    justify-content: flex-start;
    align-items: center; gap: 24px; 
    display: inline-flex;
  }

    .itemWrapper{
      width: 626px; height: 100%; background: white; 
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15); 
      border-radius: 10px; border: 1px rgba(0, 0, 0, 0) solid; 
      justify-content: center; align-items: center; 
      gap: 20px; display: inline-flex;

      .imgReview{
        width: 200px; height: 200px;
        border-radius: 10px 0 0 10px;
        overflow: hidden; 
        justify-content: center; 
        align-items: center; 
        display: flex;

        .picProduct {
          width: 200px; height: 200px;
        }
      }

      .reviewWrapper {
        flex: 1 1 0; align-self: stretch; 
        padding-left: 20px; padding-right: 20px; 
        flex-direction: column; justify-content: center; 
        align-items: flex-start; gap: 10px; 
        display: inline-flex;
        
        .ratingWrapper {
          justify-content: flex-start; 
          align-items: flex-start; 
          gap: 5px; display: inline-flex;
        }

        .textReview {
          align-self: stretch; height: 78px; 
          color: black; font-size: 16px; 
          font-family: Plus Jakarta Sans;
          font-weight: 400; line-height: 25.60px; 
          word-wrap: break-word;
        }
        .userWrapper {
          justify-content: flex-start; align-items: center; 
          gap: 10px; display: inline-flex;
          .iconShop {
            width: 32px; height: 32px;
          }
          .dateInfo {
            flex-direction: column; justify-content: flex-start; 
            align-items: flex-start; gap: 4px; display: inline-flex;
            .userWrapper {
              color: #444444; font-size: 12px; 
              font-family: Plus Jakarta Sans; 
              font-weight: 500; line-height: 18px; 
              word-wrap: break-word;
            }
            .dateWrapper {
              color: #444444; font-size: 10px; 
              font-family: Plus Jakarta Sans; 
              font-weight: 400; line-height: 12px;
              word-wrap: break-word;
            }
          }
        }
      }
    }

  .multiple-card-slider .carousel-control-prev,
  .multiple-card-slider .carousel-control-next {
      filter: invert(100%);
      width: 4em;
      height: 4em;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
      margin-left:-60px;
      margin-right: -60px;
  }
  @media (min-width: 768px) {
    .multiple-card-slider .carousel-item {
      margin-right: 0;
      display: block;
      backface-visibility: visible;
    }
    .multiple-card-slider .carousel-inner {
      display: flex;
    }
  }
}

.avaibleStore {
  width: 100%;
  margin: 88px 0 84px 0;
  display: inline-flex;
  justify-content: center; 
  align-items: center; 

  .container {
    width: 1240px;
    padding-top: 50px; 
    padding-bottom: 50px; 
    background: #FBF7FF; 
    border-radius: 20px; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 50px; 
    display: inline-flex;
  }
  span {
    width: 870px; 
    height: 28px; 
    text-align: center; 
    color: #9FA6AF; 
    font-size: 16px; 
    font-family: Plus Jakarta Sans; 
    font-weight: 700; 
    text-transform: uppercase; 
    line-height: 59px; 
    letter-spacing: 1.60px; 
    word-wrap: break-word;
  }
  .colImg {
    justify-content: flex-start; 
    align-items: center; 
    gap: 20px; 
    display: inline-flex;
    .widthImg {
      height: 50px
    }
  }
}

.vSight-Home {
  width: 100%; height: 100%; 
  padding: 70px 101px 31px 101px; 
  background: rgba(255, 255, 255, 0.10); 
  justify-content: center; align-items: center; 
  display: inline-flex;
  
  .vSight-Wrapper {
    padding-bottom: 48px; 
    align-self: stretch; justify-content: center;
    flex-direction: column; 
    align-items: flex-start; gap: 48px; 
    display: inline-flex;

    .vSight-Header {
      align-self: stretch; 
      justify-content: space-between; align-items: center; 
      display: inline-flex;

      .vSight-Title {
        text-align: center; color: #020E35; 
        font-size: 56px; font-family: Poppins; 
        font-weight: 500; word-wrap: break-word;
      }
      .vSightlist-Link {
        text-decoration:none; padding:10px 20px; 
        background: #F6F2FF; border-radius: 5px; 
        justify-content: center; align-items: center; 
        gap: 10px; display: flex;
        .btnLinkvSight {
          color: #A083DE; font-size: 16px; 
          font-family: Poppins; font-weight: 500; word-wrap: break-word;
        }
      }
    }
    
    .containerList-vSight {
      width: 1280px; 
      padding-bottom: 20px; 
      justify-content: flex-start; align-items: flex-end; 
      gap: 24px; display: inline-flex;

      .vSightBoxLink {
        text-decoration:none; flex: 1 1 0; 
        height: 370px; 
        justify-content: flex-start; align-items: flex-start; 
        gap: 20px; display: flex;

        .vSight-contentWrapper {
          flex: 1 1 0; flex-direction: column; 
          justify-content: center; align-items: center; 
          gap: 20px; display: inline-flex;

          .vSight-Pict {
            width: 413.33px; height: 300px; 
            position: relative; border-radius: 10px;
          }
          .vSight-infoWrapper {
            align-self: stretch;
            height: 50px; padding-left: 5px; padding-right: 5px;
            flex-direction: column; 
            justify-content: center; align-items: flex-start; 
            display: flex;
            .vSight-Title {
              align-self: stretch; color: #020E35; 
              font-size: 20px; font-family: Poppins; 
              font-weight: 600; line-height: 24px; 
              word-wrap: break-word;
            }
            .vSight-Date {
              color: #020E35; 
              font-size: 16px; font-family: Plus Jakarta Sans; 
              font-weight: 500; line-height: 25.60px; 
              word-wrap: break-word;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .hero {
    .imgHeroItem {
      width:fit-content; height:205px; object-fit: cover;
    }
    .row {
      margin-top: unset;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      background-color: rgba(0, 0, 0, 0.5); // Semi-transparent controls
      border-radius: 50%;
    }
    .btnshopWrapperHero1 {
      left: 85px; top: 467px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex;
      .btnshopLink {
        width: fit-content; height:fit-content; padding: 10px 20px; background: #A083DE; border-radius: 5px; border: 1px solid; 
        justify-content: center; align-items: center; 
        gap: 10px; display: inline-flex;
        .shopLinkText {
          color: white; font-size: 16px; 
          font-family: Poppins; font-weight: 500; 
          word-wrap: break-word;
        }
      }
    }
    .btnshopWrapperHero2 {
      left: 85px; top: 488px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex;
      .btnshopLink {
        width: fit-content; height:fit-content; padding: 10px 20px; background: #020E35; border-radius: 5px; border: 1px solid; 
        justify-content: center; align-items: center; 
        gap: 10px; display: inline-flex;
        .shopLinkText {
          color: white; font-size: 16px; 
          font-family: Poppins; font-weight: 500; 
          word-wrap: break-word;
        }
      }
    }
  }

  .products-home {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    padding: 0 20px 30px 20px; 
  
    .productWrapper {
      padding-bottom: 30px;
      gap:30px; 

      .headerWrapper {
        padding: unset; width: 100%;

        .titleText {
          font-size: 36px;
        }
        .viewmoreWrapper {
          padding:10px;

          .btnViewmore {
            font-size: 12px;
          }
        }
      }

      .listproductWrapper {
        gap: 20px;
        .cardProduct {

          .pictProductWrapper {
            width: 100%; height: 100%;
            .pictProduct {
              width: 100%; height: 100%;
            }
          }
          .productDescWrapper {
            align-self: stretch; height: 61px;
            padding:0 5px; flex-direction: column; 
            justify-content: center; align-items: flex-start; 
            display: flex;
            .productName {
              font-size: 16px;
            }
            .priceproductWrapper {
              flex-direction: column;
              align-items: flex-start;
              .discountPrice {
                font-size: 14px;
              }
              .mobilediscountWrapper {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
              }
              .normalPrice {
                font-size: 12px;
              }
              .ratediscountWrapper {
                padding: 1px 5px;
                .rateText {
                  font-size: 10px;
                }
              }
            }
          }
        }
      }
    }
  }

  .vidYoutube {
    width: 100%; height: 100%; padding: 50px 20px 50px 20px; background: rgba(255, 255, 255, 0.10); justify-content: center; align-items: center; display: inline-flex;
    .vidBox {
      width: 400px; height: 230px; position: relative;
    }
    .playButton {
      width: 75px; height: 75px; padding: 20px; left: 150px; top: 75px; position: absolute; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex; cursor: pointer;
    }
  }

  .promo-section {
    padding: 20px 0 58px 0;
    .itemPromo {
      padding: unset;
    }
    .carousel-inner {
      padding: 0 35px;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      width: 2rem;
      height: 2rem;
    }
    .carousel-control-prev,
    .carousel-control-next {
      margin-left:-15px;
      margin-right: -15px;
    }
    .custom-indicators {
      position: absolute;
      bottom: -60px;
    }
    .custom-indicators .active {
      background-color: black; /* Black for the active dot */
      width: 10px; /* Elongate the active indicator */
      border-radius: 14px; /* Round shape */
    }

    .custom-indicators button {
        background-color: gray; /* Gray for inactive dots */
        width: 5px; /* Default size */
        height: 5px;
        border-radius: 50%;
    }
  }
  
  .avaibleStore {
    width: 100%;
    margin: 70px 0 70px 0; 
  
    .container {
      width: 100%;
      padding-top: 50px; 
      padding-bottom: 50px; 
      background: #FBF7FF; 
      border-radius: 20px; 
      flex-direction: column; 
      justify-content: flex-start; 
      align-items: center; 
      gap: 50px; 
      display: inline-flex;
    }
    span {
      width: 870px; 
      height: 28px; 
      text-align: center; 
      color: #9FA6AF; 
      font-size: 16px; 
      font-family: Plus Jakarta Sans; 
      font-weight: 700; 
      text-transform: uppercase; 
      line-height: 59px; 
      letter-spacing: 1.60px; 
      word-wrap: break-word;
    }
    .colImg {
      justify-content: flex-start; 
      align-items: center; 
      gap: 40px; 
      display: inline-flex;
      flex-direction: column;
      .widthImg {
        height: 40px
      }
    }
  }

  .reviewWebsite {

    .titleTextrev {
      padding:50px 0 0 0; font-size: 34px;
    }

    .multiple-card-slider .carousel-control-prev, .multiple-card-slider .carousel-control-next {
      width: 3em;
      height: 3em;
      margin-left: -22px;
      margin-right: -22px;
    }
    .mobilerapperrev {
      padding: 0 25px;
    }

    .multiple-card-slider .carousel-inner {
      gap: 18px;
      padding: 30px 0;
    }

    .websiterevWrapper {
      width: 100%;
      gap: 15px;
      padding-bottom: 10px;

      .revImgBox {
        width: 100%; height: 100%;
        .websiterevPict {
          width: 150px; height: 150px;
        }
      }
      .commentrevWrapper {
        width: 100%; padding: 0 10px 10px 10px;

        .ratingrevBox {
          justify-content: flex-start; align-items: flex-start; 
          gap: 5px; display: inline-flex;
        }
        .websiterevText {
          font-size: 13px;
        }
        .custInfoWrapper {

          .userFoto {
            width: 30px; height: 30px;
          }
          .userNameDateWrapper {
            gap: 1px;
            .revNameText {
              font-size: 10px;
            }
            .revDateText {
              font-size: 9px;
            }
          }
        }
      }
    }
}

.reviewIGVid {

  .multiple-card-slider .carousel-inner {
    gap: 14px;
    padding: 50px 0; 
  }

  .multiple-card-slider .carousel-item,
  .multiple-card-slider .carousel-item.active {
    width: 100%; height: 100%; position: relative; display: block; flex: none;

    .btnPlay {
      width: 20px;
      position: absolute;
      top: 50%; 
      left: 50%; 
      transform: translate(-50%, -50%); 
      display: flex; 
      align-items: center; 
      justify-content: center; 
      cursor: pointer;
    }

    .IGimg {
      width: 120px; height: 220px; 
      border-radius: 15px; 
    }
  }
  .multiple-card-slider .carousel-control-prev,
  .multiple-card-slider .carousel-control-next {
    overflow: hidden; 
    backdrop-filter: blur(10px);
    background-color: #FFFFFF;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    margin-left:10px;
    margin-right: 10px;
    
    span {
      filter: invert(100%);
    }
  }
}

  .vSight-Home {
      width: fit-content;
      height: 100%;
      padding: 40px 20px 30px 20px;
      background: rgba(255, 255, 255, 0.1);
      justify-content: center;
      align-items: center;
      display: inline-block;
    
    .vSight-Wrapper {
      padding-bottom: 30px;
      justify-content: center;
      flex-direction: column; 
      align-items: flex-start; gap: 48px; 
      display: inline-flex;
  
      .vSight-Header {
        padding: unset;
  
        .vSight-Title {
          font-size: 36px;
        }
        .vSightlist-Link {
          padding:10px;

          .btnLinkvSight {
            font-size: 12px;
          }
        }
      }
      .containerList-vSight {
        width: fit-content;
        display: inline-block;
  
        .vSightBoxLink {
          height: fit-content;
          display: block;
          margin-bottom: 20px;
  
          .vSight-Pict {
            width: auto;
            max-width: 100%;
            max-height: 100%;
            position: relative;
            border-radius: 10px;
          }
            .vSight-infoWrapper {

              .vSight-Title { 
                font-size: 18px;
              }
              .vSight-Date {
                font-size: 14px;
              }
            }
          }
        }
      }
  }
}