
.listproducts {
  padding: 75px 100px;
  h1 {
    font-size: 56px;
    font-weight: 500;
    color: #020E35;
  }
  
  .product-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 48px;
    margin-top: 1.5rem;
  }
  
  @media (min-width: 1024px) {
    .product-container{
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
  
  .product{
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .linkToDetail {
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    display: inline-flex;
  }

  .imgWrapper {
    width: 100%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    display: flex;
  }

  .imgProduct {
    width: 100%;
    height: auto;
  }

  .infoProduct {
    align-self: stretch;
    padding-left: 5px; 
    padding-right: 5px; 
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
    display: flex
  }

  .productName {
    margin-bottom: 5px;
    color: black; 
    font-size: 20px;
    font-family: Poppins; 
    font-weight: 400; 
    word-wrap: break-word
  }

  .priceWrapper {
    align-self: stretch;
    justify-content: flex-start; 
    align-items: center; 
    gap: 10px; 
    display: inline-flex;
  }
  .priceGroup {
    display: flex;
    flex-direction: row;
    gap: 10px; 
    align-items: center; 
    justify-content: center;
  }

  .discountPrice {
    color: #020E35; 
    font-size: 18px; 
    font-family: Plus Jakarta Sans !important; 
    font-weight: 700; 
    word-wrap: break-word
  }
  .normalPrice {
    text-align: center; 
    color: rgba(2, 14, 53, 0.50); 
    font-size: 14px; 
    font-family: Plus Jakarta Sans !important; 
    font-weight: 500; 
    text-decoration: line-through; 
    text-transform: capitalize; 
    word-wrap: break-word
  }

  .numberRate {
    padding:5px 8px; 
    background: #FFC9C9; 
    border-radius: 50px; 
    color: #CF0003; 
    gap: 2px; 
    justify-content: center; align-items: center; 
    font-size: 14px; 
    font-family: Inter; 
    font-weight: 700; 
    word-wrap: break-word
  }
  .linkToDetail:hover {
    transition: all 0.3s ease;
  }
}

@media screen and (max-width: 375px) {
  
}

@media screen and (max-width: 768px) {

  .listproducts {
    padding: 30px 20px;
    h1 {
      font-size: 32px;
    }

    .product-container{
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 16px;
    }
    .linkToDetail {
      gap: 10px; 
    }

    .imgWrapper {
      width: 100%;
      height: 100%;
    }

    .imgProduct {
      width: 100%;
      height: 100%;
    }

    .productName {
      font-size: 1.8vh;
    }

    .priceWrapper {
      justify-content: flex-start; 
      align-items: flex-start; 
      flex-direction: column; 
      gap: 3px;
    }
    .priceGroup {
      flex-direction: row;
    }
    .discountPrice {
      font-size: 1.8vh;
    }
    .normalPrice { 
      font-size: 11px;
    }
    .numberRate {      
      padding:2px 5px; 
      font-size: 10px; 
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 991px) {

  .listproducts {
    padding: 30px 40px;
    h1 {
      font-size: 52px;
    }

    .product-container{
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 30px;
    }
    .linkToDetail {
      gap: 15px; 
    }

    .productName {
      font-size: 1.4rem;
    }
    .discountPrice {
      font-size: 1.4rem;
    }
    .normalPrice { 
      font-size: 16px;
    }
    .numberRate {      
      padding:5px 10px; 
      font-size: 14px; 
    }
  }

}

@media screen and (min-width: 992px) and (max-width: 1490px) {

  .listproducts {
    padding: 40px 50px;
    h1 {
      font-size: 52px;
    }

    .product-container{
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 30px;
    }
    .linkToDetail {
      gap: 15px; 
    }

    .productName {
      font-size: 1.4rem;
    }
    .priceWrapper {
      justify-content: flex-start; 
      align-items: flex-start; 
      flex-direction: column; 
      gap: 3px;
    }
    .discountPrice {
      font-size: 1.4rem;
    }
    .priceGroup {
      flex-direction: row;
    }
    .normalPrice { 
      font-size: 16px;
    }
    .numberRate {      
      padding:5px 10px; 
      font-size: 14px; 
    }
  }

}