
.products {
  background-color: #f9f9f9;
  padding: 3rem 0;

  h1 {
    font-size: 4rem;
    font-weight: 500;
    color: #333;
  }
  
  .product_container {
    margin: 2rem 10rem 2rem 10rem;
    place-content: space-between;
  }
  
  .btn {
    background-color: #F6F2FF;
    border-radius: 7px;
    color:#A083DE;
    height: fit-content;
    font-size: 1.5rem;
    padding: 10px 1rem 10px 1rem;
  }

  h1 {
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 3rem;
  }

  .card {
    border-radius: 10px;
    overflow: hidden;

    &-img-top {
      height: fit-content;
      object-fit: cover;
      border-bottom: 1px solid #ddd;
    }

    &-body {
      padding: 1.5rem;

      .card-title {
        margin-left: 1rem;
        font-size: x-large;
        text-align: left;
        font-weight: 500;
        color: #001f3f;
      }

      .card-price {
        margin-left: 1rem;
        text-align: left;
        font-size: large;
        margin-top: 0.5rem;

        .price-new {
          font-weight: bold;
        }

        .price-old {
          text-decoration: line-through;
          margin-left: 0.5rem;
        }
      }
    }

    &:hover {
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    }
  }

  .btn-outline-primary {
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    transition: all 0.3s ease;

    &:hover {
      color: #fff;
    }
  }
}
  