.vSight {
  padding: 48.5px 80px;

  .title {
    width: 100%; 
    text-align: center; 
    color: #020E35; 
    font-size: 56px; 
    font-family: Poppins; 
    font-weight: 500; 
    word-wrap: break-word;
  }
  .row {
    margin-top: 48px;
  }
  
  .vsight-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 48px;
    margin-top: 1.5rem;
  }
  
  @media (min-width: 768px) {
    .vsight-container{
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
  
  @media (min-width: 1024px) {
    .vsight-container{
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
  
  .vsight{
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .linkToDetail {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 20px; 
    display: inline-flex;
  }
  .Vimg {
    width: 413.33px;
    height: 300px; 
    position: relative; 
    border-radius: 20px;
  }
  .Vwrapper {
    align-self: stretch; 
    height: 50px;
    padding-left: 5px; 
    padding-right: 5px; 
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
    display: flex;
  }
  .vTitle {
    align-self: stretch; 
    color: #020E35;
    font-size: 20px; 
    font-family: Poppins; 
    font-weight: 600; 
    line-height: 24px; 
    overflow: hidden;              /* Hides overflowing text */
    text-overflow: ellipsis;  
  }

  .vDate {
    color: #020E35; 
    font-size: 16px; 
    font-family: Plus Jakarta Sans; 
    font-weight: 500; 
    line-height: 25.60px; 
    word-wrap: break-word;
  }

  .pagination {
    margin-top: 48px;
    height: 36px; 
    justify-content: center; 
    align-items: center; 
    gap: 10px;

    .colored {
      color: #D8D8E5;
    }
    .colored2 {
      color: #7E8299;
    }
    
    .page-item.active a {
      color:white;
    }

    .page-link {
      color: #7E8299; 
      font-size: 18px; 
      font-family: Inter !important; 
      font-weight: 500; 
      line-height: 18px;
      border: none;
      border-radius: 6px;
      &:hover,.colored:hover,.colored2:hover {
        background-color: #A083DE;
        color: white;
      }
    }
  }
}
  