.aboutUs-section {
    width: 100%;
    height: fit-content; 
    padding: 50px 0; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    display: flex;

    .fixWidth {
        max-width: 1240px;
        flex-direction: column; 
        justify-content: center;
        align-items: center; 
        display: flex;
    }

    .firstContent {
        align-self: stretch; height: fit-content; 
        flex-direction: column; justify-content: flex-start; 
        align-items: center; display: flex;
        
        .logo-parent {
            width: 1240px; height: 587px; background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%); border-top-left-radius: 20px; border-top-right-radius: 20px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex;
        }

        .textWrapper {
            align-self: stretch; height: fit-content; padding-top: 100px; padding-bottom: 100px; background: #F9F9F9; border-radius: 20px; flex-direction: column; justify-content: center; align-items: center; gap: 16px; display: flex;

            .titleText {
                align-self: stretch; text-align: center; color: #020E35; font-size: 28px; font-family: Poppins; font-weight: 500; letter-spacing: 0.56px; word-wrap: break-word;
            }
            .descText1 {
                width: 998px; text-align: center; color: #020E35; font-size: 18px; font-family: Inter; font-weight: 500; line-height: 26px; letter-spacing: 0.16px; word-wrap: break-word;
            }
            .descText2 {
                width: 998px; text-align: center; color: #020E35; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 26px; letter-spacing: 0.16px; word-wrap: break-word;
            }
        }
        .logo2 {
            width: 1240px; height: 325px; position: relative;
        }

    }
    .secondContent {
        align-self: stretch; height: fit-content; padding-left: 50px; padding-right: 50px; padding-top: 100px; padding-bottom: 100px; background: #F9F9F9; flex-direction: column; justify-content: center; align-items: center; gap: 50px; display: flex;
        .textWrapper {
            width: 736px; text-align: center; gap: 50px; display: inline-flex; flex-direction: column;
            .titleText {
                width: 100%; text-align: center; color: #020E35; font-size: 32px; 
                font-family: Poppins; font-weight: 700; line-height: 36px; 
                letter-spacing: 0.32px; word-wrap: break-word;
            }
            .definisiText {
                width: 100%; height: 100%; flex-direction: column; justify-content: center; 
                align-items: center; gap: 20px; display: inline-flex;
                .logoTitle {
                    width: fit-content; height: 100%; padding-left: 15px; padding-right: 15px; 
                    padding-top: 10px; padding-bottom: 10px; background: #ECDCFF; 
                    border-radius: 20px; justify-content: center; align-items: center; 
                    gap: 10px; display: inline-flex;
                    .logoText {
                        text-align: center; color: #A083DE; 
                        font-size: 24px; font-family: Poppins; 
                        font-weight: 700; line-height: 26px; 
                        letter-spacing: 0.24px; word-wrap: break-word;
                    }
                }
                .descText {
                    color: #020E35; font-size: 20px; font-family: Inter; font-weight: 400; line-height: 26px; letter-spacing: 0.16px; word-wrap: break-word;
                }
            }
        }
    }
    .thirdContent {
        width: 100%; align-self: stretch; height: fit-content; padding-left: 50px; padding-right: 50px; padding-top: 100px; padding-bottom: 100px; background: #F9F9F9; flex-direction: column; justify-content: center; align-items: center; display: flex;
        .visionWrapper {
            align-self: stretch; padding-top: 50px; padding-bottom: 50px; justify-content: center; align-items: center; gap: 100px; display: inline-flex;

            .leftText {
                flex: 1 1 0; align-self: stretch; padding-left: 20px; padding-right: 20px; padding-top: 30px; padding-bottom: 30px; border-radius: 20px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 16px; display: inline-flex;

                .titleText {
                    color: #020E35; font-size: 24px; font-family: Inter; font-weight: 600; line-height: 26px; letter-spacing: 0.24px; word-wrap: break-word;
                }
                .visionContent {
                    width: 500px;align-self: stretch; color: #020E35; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 26px; letter-spacing: 0.16px; word-wrap: break-word;
                }
            }
            .imgVision {
                width: 520px; height: 400px; position: relative; background: linear-gradient(0deg,  0%,  100%); border-radius: 20px; overflow: hidden;
            }
        }

        .misionWrapper {
            align-self: stretch; padding-top: 50px; padding-bottom: 50px; justify-content: center; align-items: center; gap: 100px; display: inline-flex;

            .rightText {
                flex: 1 1 0; padding-left: 20px; padding-right: 20px; padding-top: 30px; padding-bottom: 30px; border-radius: 20px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 16px; display: inline-flex;
                .titleText {
                    color: #020E35; font-size: 24px; font-family: Inter; font-weight: 600; line-height: 26px; letter-spacing: 0.24px; word-wrap: break-word;
                }
                .misionContent {
                    align-self: stretch; color: #020E35; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 26px; letter-spacing: 0.16px; word-wrap: break-word;
                }
            }
            .imgMision {
                width: 520px; height: 400px; position: relative; background: linear-gradient(0deg,  0%,  100%); border-radius: 20px;
            }
        }
    }
    .fourContent {
        width: 100%; align-self: stretch; height: fit-content; padding-left: 50px; padding-right: 50px; padding-top: 100px; padding-bottom: 100px; background: #F9F9F9; flex-direction: column; justify-content: center; align-items: center; display: flex;

        .leftWrapper {
            align-self: stretch; padding-top: 50px; padding-bottom: 50px; justify-content: center; align-items: center; gap: 100px; display: inline-flex;

            .leftText {
                flex: 1 1 0; align-self: stretch; padding-left: 20px; padding-right: 20px; padding-top: 30px; padding-bottom: 30px; border-radius: 20px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 16px; display: inline-flex;

                .titleText {
                    color: #020E35; font-size: 20px; font-family: Inter; font-weight: 700; line-height: 26px; letter-spacing: 0.24px; word-wrap: break-word;
                }
                .descText {
                    align-self: stretch; color: #020E35; font-size: 20px; font-family: Inter; font-weight: 400; line-height: 26px; letter-spacing: 0.16px; word-wrap: break-word;
                }
            }
            .imgRight {
                width: 520px; height: 400px; position: relative; background: linear-gradient(0deg,  0%,  100%); border-radius: 20px; overflow: hidden;
            }
        }

        .rightWrapper {
            align-self: stretch; padding-top: 50px; padding-bottom: 50px; justify-content: center; align-items: center; gap: 100px; display: inline-flex;

            .rightText {
                flex: 1 1 0; padding-left: 20px; padding-right: 20px; padding-top: 30px; padding-bottom: 30px; border-radius: 20px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 16px; display: inline-flex;
                .titleText {
                    color: #020E35; font-size: 20px; font-family: Inter; font-weight: 700; line-height: 26px; letter-spacing: 0.24px; word-wrap: break-word;
                }
                .descText {
                    align-self: stretch; color: #020E35; font-size: 20px; font-family: Inter; font-weight: 400; line-height: 26px; letter-spacing: 0.16px; word-wrap: break-word;
                }
            }
            .imgLeft {
                width: 520px; height: 400px; position: relative; background: linear-gradient(0deg,  0%,  100%); border-radius: 20px;
            }
        }
        .logo3 {
            height: 325px; justify-content: center; align-items: center; display: inline-flex;
        }
    }
    .fiveContent {
        align-self: stretch; height: fit-content; padding-top: 50px; padding-bottom: 50px; border-radius: 20px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 50px; display: flex;

        .contentWrapper {
            width: 100%; height: 474px; padding-top: 50px; padding-bottom: 50px; background: #FBF7FF; border-radius: 20px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 50px; display: flex;

            .titleText {
                align-self: stretch; height: 64px; text-align: center; color: #020E35; font-size: 56px; font-family: Poppins; font-weight: 500; word-wrap: break-word;
            }
            .contentText1 {
                flex-direction: column; justify-content: flex-start; align-items: center; gap: 30px; display: flex;
                .infoText {
                    width: 870px; height: 28px; text-align: center; color: #9FA6AF; font-size: 16px; font-family: Manrope; font-weight: 700; text-transform: uppercase; letter-spacing: 1.60px; word-wrap: break-word;
                }
                .btnWrapper {
                    justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex;
                    .btnShop {
                        text-decoration: none; padding-left: 15px; padding-right: 15px; padding-top: 10px; padding-bottom: 10px; background: white; border-radius: 10px; border: 1px rgba(0, 0, 0, 0.50) solid; justify-content: center; align-items: center; gap: 10px; display: flex;
                        img {
                          width: 24px; height: 24px;
                        }
                        span {
                          text-align: center; color: #020E35; font-size: 16px; font-family: Montserrat; font-weight: 500; word-wrap: break-word;
                        }
                    }
                }
            }
            .contentText2 {
                flex-direction: column; justify-content: flex-start; align-items: center; gap: 40px; display: flex;
                .infoText {
                    width: 870px; height: 28px; text-align: center; color: #9FA6AF; font-size: 16px; font-family: Manrope; font-weight: 700; text-transform: uppercase; line-height: 59px; letter-spacing: 1.60px; word-wrap: break-word;
                }
                .storeIconWrapper {
                    justify-content: flex-start; align-items: center; gap: 80px; display: inline-flex;
                }
            }
        }
    }
}