.productDetail-section {
  width: 100%; 
  height: 100%; 
  padding-top: 59px; 
  padding-bottom: 59px; 
  padding-left: 101px; 
  padding-right: 103px;  
  justify-content: center; 
  align-items: center; 
  display: inline-flex;

  .container {
    width: 1236px;
    align-self: stretch; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 48px; 
    display: inline-flex;

    .wrapper {
      justify-content: flex-start; align-items: flex-start; gap: 50px; display: inline-flex;

      .leftBox {                        
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        gap: 20px; 
        display: inline-flex;

        .carousel-control-prev,
        .carousel-control-next {
            background-color: #e1e1e1;
            width: 3em;
            height: 3em;
            border-radius: 50%;
            top: 50%;
            transform: translateY(-50%);
            margin-left: 10px;
            margin-right: 10px;
        }

        .carousel-inner {
          width: 550px; height: 562px; position: relative; border-radius: 10px; overflow: hidden;
        }
        .carousel-item, .carousel-item.active {
          width: 550px;  
          height: 562px;
          position: relative; 
          border-radius: 10px; 
          overflow: hidden;

          img {
            width: 550px; height: 562px; left: 0px; top: -0.50px; position: absolute;
          }
        }

        .multiple-card-slider .carousel-inner {
          width: 440px; height: 100%; 
          justify-content: flex-start; 
          align-items: center; gap: 12px; 
          display: inline-flex;
        }

        .multiple-card-slider .carousel-item.active,
        .multiple-card-slider .carousel-item {
          width: 100px; height: 100px; justify-content: flex-start; align-items: center; gap: 12px; margin-right: 0; display: flex; backface-visibility: visible; flex: none;
          img {
            width: 100px; height: 100px; border-radius: 10px;
          }
        }
        .multiple-card-slider .carousel-control-prev,
        .multiple-card-slider .carousel-control-next {
          filter: invert(100%);
          background-color: transparent;
          width: 3em;
          height: 3em;
          border-radius: 50%;
          top: 50%;
          transform: translateY(-50%);
          margin-left:-50px;
          margin-right: -50px;
        }
      }
      .rightBox {
        flex: 1 1 0; 
        align-self: stretch; 
        padding-top: 10px; 
        padding-bottom: 10px; 
        flex-direction: column; 
        justify-content: flex-start; 
        align-items: flex-start; 
        gap: 20px; 
        display: inline-flex;

        .productInfo {
          align-self: stretch; 
          height: 120px; 
          flex-direction: column; 
          justify-content: flex-start; 
          align-items: flex-start; 
          gap: 15px; 
          display: flex;

          .productName {
            text-align: center; 
            color: #020E35;
            font-size: 24px; 
            font-family: Plus Jakarta Sans; 
            font-weight: 500; 
            letter-spacing: 0.24px; 
            word-wrap: break-word;
          }
          .ratingWrapper {
            justify-content: flex-start; align-items: flex-end; gap: 15px; display: inline-flex;

            .starWrapper {
              justify-content: flex-start; align-items: flex-start; gap: 5px; display: flex;
            }
            .totalSpan {
              color: #1A1D29; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word;
            }
          }

          .productPrice {
            justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex;

            .discountPrice {
              color: #020E35; font-size: 24px; font-family: Plus Jakarta Sans; font-weight: 700; line-height: 38.40px; word-wrap: break-word;
            }
            .normalPrice {
              text-align: center; color: rgba(2, 14, 53, 0.50); font-size: 24px; font-family: Plus Jakarta Sans; font-weight: 500; text-decoration: line-through; text-transform: capitalize; line-height: 28.80px; word-wrap: break-word;
            }
            .discountRate {
              width: 52px; padding-left: 8px; padding-right: 8px; padding-top: 5px; padding-bottom: 5px; background: #FFC9C9; border-radius: 50px; justify-content: center; align-items: center; gap: 2px; display: flex;
              span {
                color: #CF0003; font-size: 16px; font-family: Inter; font-weight: 700; line-height: 19.20px; word-wrap: break-word
              }
            }
          }
        }
        .shopLink {
          align-self: stretch; height: 80px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex;
          span {
            align-self: stretch; text-align: justify; color: #020E35; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 500; line-height: 26px; letter-spacing: 0.16px; word-wrap: break-word
          }
          .btnWrapper {
            justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex;
            .btnShop {
              text-decoration: none; padding-left: 15px; padding-right: 15px; padding-top: 10px; padding-bottom: 10px; background: white; border-radius: 10px; border: 1px rgba(0, 0, 0, 0.50) solid; justify-content: center; align-items: center; gap: 10px; display: flex;
              img {
                width: 24px; height: 24px;
              }
              span {
                text-align: center; color: #020E35; font-size: 16px; font-family: Montserrat; font-weight: 500; word-wrap: break-word;
              }
            }
          }

        }
        .productDetail {
          align-self: stretch; height: 442px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 29px; display: flex;

          .DescWrapper {
            align-self: stretch; height: 224px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex;
            .titleTextProductDetail {
              align-self: stretch; color: #020E35; font-size: 24px; font-family: Poppins; font-weight: 500; letter-spacing: 0.48px; word-wrap: break-word;
            }
            .infoWrapper {
              align-self: stretch; text-align: justify; gap:unset;
              .boldText {
                color: #020E35; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 600; line-height: 26px; letter-spacing: 0.16px; word-wrap: break-word;
              }
              .valueText {
                color: #020E35; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 400; line-height: 26px; letter-spacing: 0.16px; word-wrap: break-word;
              }
            }
            .desText {
              align-self: stretch; text-align: justify; color: #020E35; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 400; line-height: 26px; letter-spacing: 0.16px; word-wrap: break-word;
            }
          }

          .accordion {
            width: 100%;
          }
          .accordion-header {
            width: 100%; align-self: stretch; justify-content: space-between; align-items: center; display: inline-flex;
            text-align: center; color: #020E35; font-size: 20px; font-family: Poppins; font-weight: 500; letter-spacing: 0.40px; word-wrap: break-word;
          }
          .accordion-button:not(.collapsed)::after {
            background-color: transparent;
          }
          .accordion-item {
            border: none; /* Hapus border */
          }
          .accordion-button {
            border-bottom: 1px solid #E1E3EA;
            background-color: transparent;
          }
          .accordion-button:focus {
            box-shadow: none; /* Hapus shadow ketika fokus */
          }
          .accordion-button::after {
            border: none;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
          }
          .accordion-button:not(.collapsed)::after {
            border: none;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
          }
        }
      }
    }
  }
}

.detailTab {
  padding: 0 101px 0 103px;
  .checked {
    color: orange;
  }

  .nav-wrapper {
    background-color: #f1f1f1; 
  }
  
  .nav-wrapper > .nav {
    display: flex;
    justify-content: center;
    border: 0;
    margin-top: 1rem;
  }
  
  .nav-item > .nav-link {
    border: 0;
    background-color: #fff;
    color: #1A1D29;
    font-family: 'Inter';
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .nav-item > .nav-link:hover,
  .nav-item > .nav-link.active {
    background-color: #fff;
    border-color: #020E35;
    font-family: 'Poppins';
    border-style: solid;
    word-wrap: break-word;
    font-weight: 600;
    border-width: 0 0 2px 0;
    border-radius: 0;
  }
  
  .nav-item > .nav-link.active {
    background-color: #fff;
  }
  .reviewBox {
    width: 100%; height: 100%; padding-top: 18px; padding-bottom: 100px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 36px; display: inline-flex;

    .reviewWrapper {
      width: 100%; height: 100%; padding-top:10px; justify-content: space-between; align-items: center; display: inline-flex;

      .boxReview {
        justify-content: flex-start; align-items: center; gap: 50px; display: flex;

        .ratingBox {
          width: 335px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 25px; display: inline-flex;

          .starBox {
            justify-content: flex-start; align-items: flex-end; gap: 10px; display: inline-flex;

            label {
              width: 43px; height: 29px; color: #020E35; font-size: 24px; font-family: Plus Jakarta Sans; font-weight: 700; line-height: 36px; word-wrap: break-word;
            }
            .starWrapper {
              justify-content: flex-start; align-items: flex-start; gap: 5px; display: flex;
            }
          }
          .totalRating {
            flex-direction: column; justify-content: center; align-items: flex-start; gap: 10px; display: flex;

            .rateWrapper {
              align-self: stretch; justify-content: center; align-items: center; gap: 10px; display: inline-flex;

              label {
                color: #020E35; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 400; line-height: 24px; word-wrap: break-word;
              }
              
              .spanStar {
                width: 25px; height: 20px; text-align: right; color: #80869A; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 400; line-height: 24px; word-wrap: break-word;
              }
            }
          }
        }
        .reviewProdukSeparator {
          display: flex; align-items: center; height: 200px; width:1px; background: #E6E6E6;
        }
        .imgMedia {
          width: 264px; height: 80px; justify-content: center; align-items: flex-start; display: flex;
          img {
            width: 264px; height: 80px; border-radius: 10px;
          }
        }
      }
      .btnInput {
        padding-left: 40px; padding-right: 40px; padding-top: 10px; padding-bottom: 10px; background: #A083DE; border-radius: 5px; justify-content: center; align-items: center; gap: 10px; display: flex;
        color: white; font-size: 16px; font-family: Poppins; font-weight: 500; word-wrap: break-word; text-decoration: none;
      }
    }
    .filterWrapper {
      align-self: stretch; justify-content: space-between; align-items: center; display: inline-flex;
      h6 {
        color: #020E35; font-size: 20px; font-family: Poppins; font-weight: 600; line-height: 30px; word-wrap: break-word;
      }
      .btnFilter {
        color: #1D1D21; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 19.20px; word-wrap: break-word; text-decoration: none;
      }
    }
    .contentWrapper {
      height: 100%; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 30px; display: flex;
      .contentBox {
        align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 15px; display: inline-flex;
        .imgUser {
          width: 47px; height: 47px; border-radius: 9999px;
        }
        .rowContent {
          flex: 1 1 0; height: 100%; padding-right: 60px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 10px; display: inline-flex;

          .detailContent {
            flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex;

            .ratingWrapper {
              justify-content: flex-start; align-items: flex-start; gap: 5px; display: inline-flex;
            }
            .userWrapper {
              justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex;
              label {
                color: #020E35; font-size: 20px; font-family: Inter; font-weight: 600; line-height: 30px; word-wrap: break-word;
              }
              span {
                color: rgba(2, 14, 53, 0.50); font-size: 20px; font-family: Inter; font-weight: 400; line-height: 30px; word-wrap: break-word;
              }
            }
          }
          .reviewValue {
            padding-right: 10px; align-self: stretch; color: #020E35; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 25.60px; word-wrap: break-word;
          }
        }
        .mediaBox {
          width: 264px; height: 80px; position: relative;
        }
        
      }
    }
  }
  .shippingBox {
    width: 100%; height: 100%; padding-top: 57px; padding-bottom: 82px; padding-left: 68px; padding-right: 68px; justify-content: center; align-items: center; display: inline-flex; align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start;

    .shippingWrapper {
      align-self: stretch; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex;

      .titleWrapper {
        width: 168px; align-self: stretch; padding-left: 10px; padding-right: 10px; background: #F2F2F2; justify-content: center; align-items: center; gap: 10px; display: flex;
        span {
          align-items: center; color: black; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 600; line-height: 25.60px; word-wrap: break-word;
        }
      }

      .descWrapper {
        flex: 1 1 0; height: 268px; padding: 20px; justify-content: center; align-items: center; gap: 10px; display: flex;
        li {
          color: #767676; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 19.20px; word-wrap: break-word
        }
      }
    }
  }
  .faqBox {
    width: 100%; height: 100%; 
    padding: 30px; overflow: hidden; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 30px; display: inline-flex;

    .accordion {
      width: 100%;
    }
    .accordion-item {
      border: none; /* Hapus border */
    }
    .textBody {
      margin-left: 45px;
      width: 100%; color: #020E35; 
      font-size: 16px; font-family: Poppins; 
      font-weight: 400; line-height: 20px; 
      word-wrap: break-word;
    }
    .accordion-header {
      width: 100%; align-self: stretch; justify-content: flex-start; align-items: center; display: inline-flex; 
      text-align: flex-star; color: #020E35; font-size: 20px; font-family: Poppins; font-weight: 500; letter-spacing: 0.40px; word-wrap: break-word;
      .spanBold {
        width: 100%; color: #020E35; 
        font-size: 16px; font-family: Poppins; 
        font-weight: 600; line-height: 16px; 
        word-wrap: break-word;
      }
    }
    .accordion-button {
      gap: 15px;
      border-bottom: 1px solid #ddd;
      background-color: transparent;
      display: flex;
      align-items: flex-start; /* Posisi ikon dan teks di bagian atas */
      text-align: left;
    }
    .accordion-button:focus {
      box-shadow: none; /* Hapus shadow ketika fokus */
    }
    .accordion-button::after {
      order: -1; /* Pindahkan ikon ke kiri */
      margin-right: 10px;
      align-self: flex-start;
    }
    .accordion-button:not(.collapsed)::after {
      background-image: url("../assets/img/icon/ic_accordion_minus.png");
      background-size: auto;
      background-position: center;
      background-color: transparent;
    }
      
      .accordion-button.collapsed::after {
        background-image: url("../assets/img/icon/ic_accordion_plus.png");
        background-size: auto;
        background-position: center;
      }
  }

}
.customModal {
  width: 100%; height: 100%; padding: 30px; background: white; border-radius: 20px; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 30px; display: inline-flex;
  .bodyWrapper {
    align-self: stretch; height: 738.33px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 30px; display: flex;
  }
  


}
.star-rating {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.star {
  font-size: 2rem;
  color: gold;
  cursor: pointer;
  margin-right: 5px;
}
.star.inactive {
  color: lightgray;
}
.upload-section {
  border: 1px dashed #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.modal-footer .btn {
  background-color: #9b59b6;
  color: white;
}

@media screen and (max-width: 800px) {
  .productDetail-section {
    padding: 10px 0 40px 0;
    .container {
      width: 100%; display: block;
      .wrapper {
        justify-content: flex-start;
        align-items: flex-start;
        gap: 50px;
        display: inline-flex;
        flex-direction: column;

        .leftBox {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 20px;
          display: inline-flex;
          padding: unset;

          .carousel-inner {
            width: 400px; height: 415px;
            .carousel-item, .carousel-item.active {
              width: 100%;  
              height: 100%;
              img {
                width: 100%; height: 100%;
              }
            }
          }
  
          .multiple-card-slider .carousel-inner {
            width: 320px; height: 100%;

            .carousel-item.active, .carousel-item {
              width: 80px; height: 80px;
              img {
                width: 80px; height: 80px;
              }
            }
          }
          .multiple-card-slider .carousel-control-prev,
          .multiple-card-slider .carousel-control-next {
            filter: invert(100%);
            background-color: transparent;
            width: 3em;
            height: 3em;
          }
        }
        .rightBox {
          padding: 0 20px;
          .productInfo {
            .productName {
              font-size: 22px;
            }
            .productPrice {
              .discountPrice, .normalPrice {
                font-size: 20px;
              }
              .discountRate {
                padding-left: 4px;
                padding-right: 4px;
                padding-top: 3px;
                padding-bottom: 3px;
                span {
                  font-size: 12px;
                }
              }
            }
          }
          .shopLink {
            span {
              font-size: 14px;
            }
            .btnWrapper {
              .btnShop {
                padding: 5px 7px;
                img {
                  width: 18px; height: 18px;
                }
                span {
                  font-size: 12px;
                }
              }
            }
          }
          .productDetail { 
            .DescWrapper {
              .titleTextProductDetail {
                font-size: 20px;
              }
              .infoWrapper {
                .boldText, .valueText {
                  font-size: 14px;
                }
              }
              .descText {
                  width: 350px; 
                  margin-bottom: 1rem;
                  font-size: 12px;
                  padding-left: 1rem;
              }
            }
          }
        }
      }
    }
  }

  .detailTab {
    padding: 0 20px 0 20px;

    .reviewBox {
      gap: 22px;
      padding-bottom: 60px;
      flex-direction: column;
      display: inline-flex;
      .reviewWrapper {
        flex-direction: column;
        display: inline-flex;
        align-items: flex-start;
        .boxReview {
          display: inline-flex;
          flex-direction: column;
          align-items: flex-start;
          .reviewProdukSeparator {
            display: none;
          }
        }
        .btnInput {
          padding: 7px 15px;
          font-size: 16px;
          margin-top: 20px;
          /* width: 100%; */
        }
      }
      .filterWrapper {
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 10px;
        display: inline-flex;
      }
      .contentWrapper {
        gap:18px;
        .contentBox {
          display: inline-flex;
          flex-direction: column;

          .mobileWrapperUser {
            width: 100%;
            align-items: flex-start;
            display: inline-flex;
            gap: 15px;

            .rowContent {
              display: inline-block;
              padding-right: 10px;
              .userWrapper {
                label {
                  font-size: 16px;
                }
                span {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
    .faqBox { 
      padding: unset;
      padding-bottom: 50px;
    }
  }
}