section.footer
    .row.benefit
        .col-sm-1
            img(src="./assets/img/ic_benefit1.png")
        .col-sm-2 
            h6 High Quality
            p Top International Products
        .col-sm-1
            img(src="./assets/img/ic_benefit2.png")
        .col-sm-2 
            h6 High Quality
            p Top International Products
        .col-sm-1
            img(src="./assets/img/ic_benefit3.png")
        .col-sm-2 
            h6 High Quality
            p Top International Products
        .col-sm-1
            img(src="./assets/img/ic_benefit4.png")
        .col-sm-2 
            h6 High Quality
            p Top International Products
    .row.info
        .col-md-4
            img(src="./assets/img/vita_icon.png" style="margin-top:2rem;width:50%;")
            .col-md-8.subemail
                p Sign up for email updates on products, launches, and events. Unsubscribe anytime
                form.d-flex(action="#", method="POST")
                .row
                    .col-md-8
                        input.form-control.form-control-sm(type="email", placeholder="Email")
                    .col-md-2
                        button.btn.btn-dark.btn-sm(type="submit") Submit
        .col-md-4
        .col-md-4
            .float-end.address
                h5 Contact Us
                | AIA CENTRAL 21st FL. 
                br
                | Jl. Jenderal Sudirman No.Kav. 48A,
                br
                | Karet Semanggi, Kecamatan Setiabudi, 
                br
                | Kota Jakarta Selatan, DKI Jakarta 12930
                br
                br
                a(href="mailto:admin@vitazen.com" style="color:black;") admin@vitazen.com
                .social-icons
                a(href="#", target="_blank").me-2
                    img(src="./assets/img/ic_tiktok.png")
                a(href="#", target="_blank").me-2
                    img(src="./assets/img/ic_ig.png")
                a(href="#", target="_blank")
                    img(src="./assets/img/ic_youtube.png")
    .row.ftr_bottom
        .col-md-8
            p &copy; Vitazen. 2024 All rights reserved.
        .col-md-4
            .float-end
                a(href="#", style="margin-right:3rem;color:white;") Privacy Policy
                a(href="#", style="color:white;") Terms & Conditions