.benefit-wrapper
    .benefitBox
        .benefitContent
            .benefitImgwrapper
                img(src="./assets/img/ic_benefit1.png")
            .benefitTextwrapper
                .benefitTitle Kualitas Tinggi
                .benefitSubtitle Produk Top Internasional
        
        .benefitContent
            .benefitImgwrapper
                img(src="./assets/img/ic_benefit2.png")
            .benefitTextwrapper
                .benefitTitle Gratis Biaya Kirim
                .benefitSubtitle Pemesanan Lebih Dari Rp 200.000

        .benefitContent
            .benefitImgwrapper
                img(src="./assets/img/ic_benefit3.png")
            .benefitTextwrapper
                .benefitTitle Mitra
                .benefitSubtitle Formulir Registrasi Online

        .benefitContent
            .benefitImgwrapper
                img(src="./assets/img/ic_benefit4.png")
            .benefitTextwrapper
                .benefitTitle Layanan 24/7 
                .benefitSubtitle Dukungan Pelayanan

.footer-wrapper
    .footerLeft
        img.imgLogo(src="././assets/img/vita_icon.png" alt="Vitazen Logo")
        .footerLeftWrapper
            p.subscribeEmail Daftar untuk dapatkan pembaruan email tentang produk, peluncuran produk, dan event
            form.formEmailSubscribe#emailSubFrm
                input.inputSubEmail(type="email", placeholder="Email")
                button.btnSubEmail(type="submit") Kirim

    .footerRight
        .addressFooterWrapper
            span.footerRightTitle Hubungi Kami
            span.footerRightAddress
                | AIA CENTRAL Lantai 21 <br/>Jl. Jenderal Sudirman No.Kav. 48A, <br/>Karet Semanggi, Kecamatan Setiabudi, <br/>Kota Jakarta Selatan, DKI Jakarta 12930
        .sosmedEmailWrapper
            a.emailLink(href="mailto:admin@vitazen.com") admin@vitazen.com
        .social-icons
            a(href="#", target="_blank").me-2
                img(src="./assets/img/ic_tiktok.png")
            a(href="#", target="_blank").me-2
                img(src="./assets/img/ic_ig.png")
            a(href="#", target="_blank")
                img(src="./assets/img/ic_youtube.png")

.footer-bottom
    span.leftBottomText © Vitazen. 2024 All rights reserved.
    .rightBottomText
        a.privacyLink(href="#") Kebijakan Privasi
        a.termLink(href="#") Syarat & Ketentuan