// Top bar for promotional message
.texttop
    a.text-center(href="productDetail3.html" style="text-decoration:none;")
        span.firstText Edisi Terbatas!
        span.secondText Paket 1 Bulan Glutathione dan Vitamin C, diskon 40%!
        img.iconTopText(src="./assets/img/icon/ic_arrow_right.svg")

// Main navigation bar
nav.navbar.navbar-expand-lg.navbar-light.bg-white.border-bottom.sticky-top
    .container-fluid
        // Logo
        a.navbar-brand(href="index.html")
            img.imgLogo(src="././assets/img/vita_icon.png" alt="Vitazen Logo")

        // Hamburger menu for smaller screens
        button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
            span.navbar-toggler-icon

        // Navigation menu
        .collapse.navbar-collapse#navbarNav
            ul.navbar-nav.mx-auto
                .menuNav
                    li.nav-item
                        a.nav-link.active(href="index.html") Beranda
                    li.nav-item
                        a.nav-link(href="products.html") Produk
                    li.nav-item
                        a.nav-link(href="v-sight.html") V-Sight
                    li.nav-item
                        a.nav-link(href="aboutUs.html") Tentang kami
                    li.nav-item#kontakMobile
                        a.nav-link(href="contact-us.html") Hubungi kami
        // Contact button to the right
        a.btnContact(href="contact-us.html") Hubungi kami

script.
    function handleResize() {
                if (window.innerWidth < 800) {
                    document.getElementById("kontakMobile").style.display = "flex";
                } else {
                    document.getElementById("kontakMobile").style.display = "none";
                }
                    
            }

            // Attach the resize event listener
            window.addEventListener('resize', handleResize);

            // Call the function initially to set the correct class on page load
            handleResize();
