doctype html
html(lang='en')

    include includes/head.pug
    body
        include includes/header.pug
        section.aboutUs-section
            .container
                .firstContent
                    .logo-parent
                        img.imgLogo1(src="./assets/img/aboutUs/Logo1.png")
                        img.text-logo-parent(src="./assets/img/aboutUs/textlogo.png")
                    .textWrapper
                        span.titleText Perkenalan
                        p.descText1 <strong>Rahasia Kesehatan dari Korea Kini Hadir di Indonesia</strong>
                        p.descText2 Bersama Vitazen, kami percaya bahwa kesehatan dan kecantikan adalah harmoni antara pikiran, tubuh dan jiwa. Terinspirasi oleh komitmen Korea yang terkenal terhadap inovasi dan keunggulan, kami menghadirkan produk kesehatan premium yang dirancang khusus untuk pasar Indonesia. Misi kami adalah mendefinisikan ulang perjalanan kesehatan dan kecantikan Anda, menjadikannya lebih mudah diakses, efektif, dan menyenangkan.<br/><br/>Dengan komitmen terhadap kualitas, transparansi, dan layanan pelanggan, Vitazen bukan sekadar brand, ini adalah komunitas yang didedikasikan untuk memberdayakan perjalanan kesehatan Anda. Bergabunglah dengan kami dalam membentuk masa depan di mana kesehatan adalah gaya hidup, bukan kemewahan.
                    img.logo2(src="./assets/img/aboutUs/Logo2.png")
                
                .secondContent 
                    .textWrapper
                        span.titleText Dua Elemen Utama Inspirasi Nama Vitazen
                        .definisiText
                            .logoTitle
                                span.logoText Vita
                            p.descText <strong>Berasal dari kata Latin yang berarti kehidupan.</strong><br>Mencerminkan misi utama Vitazen untuk mendukung kesehatan dan gaya hidup yang lebih baik. Dengan produk yang membantu menjaga vitalitas, Vitazen menginspirasi individu untuk menjalani hidup yang berkualitas tinggi dan bermakna.

                        .definisiText
                            .logoTitle
                                span.logoText Zen
                            p.descText <strong>Berakar pada filosofi Zen dari tradisi Timur.</strong><br>Yang menekankan keseimbangan, harmoni, dan ketenangan batin. Pendekatan holistik Vitazen tidak hanya berfokus pada kesehatan fisik tetapi juga mencakup kesejahteraan mental, emosional, dan spiritual, menciptakan rasa kedamaian dan keutuhan dalam hidup pelanggan. 
                
                .thirdContent
                    .visionWrapper
                        .col-md-6
                            .leftText
                                span.titleText Visi Kami
                                ul
                                    li.visionContent Membawa standar kesehatan terbaik dari Korea ke Indonesia.
                                    li.visionContent Menjadi pilihan utama bagi masyarakat Indonesia dalam memenuhi kebutuhan kesehatan, dan kecantikan mereka.
                        .col-md-6
                            .wrapperimgVision
                                img.imgVision(src="./assets/img/aboutUs/Logo3.jpg")
                    .misionWrapper
                        .col-md-6
                            .wrapperimgMision
                                img.imgMision(src="./assets/img/aboutUs/Logo4.jpg")
                        .col-md-6
                            .rightText
                                span.titleText Misi Kami
                                ul
                                    li.misionContent Menyediakan produk yang aman, berkualitas tinggi, dan terpercaya.
                                    li.misionContent Meningkatkan kesadaran masyarakat tentang pentingnya menjaga kesehatan.
                                    li.misionContent Menjadi mitra kesehatan yang dapat diandalkan bagi setiap pelanggan.

                .fourContent
                    .logo3
                        img(src="./assets/img/aboutUs/Logo5.jpg" width="100%")
                    .leftWrapper
                        .col-md-6
                            .leftText
                                span.titleText Telah Teruji Secara Klinis dan Bersertifikat di Indonesia
                                p.descText Semua produk kami telah melalui uji klinis yang ketat di Korea dan telah disertifikasi sesuai standar Indonesia. Kami memastikan bahwa setiap produk yang Anda terima aman, efektif, dan memiliki kualitas terbaik.
                        .col-md-6
                            .wrapperImgRight
                                img.imgRight(src="./assets/img/aboutUs/Logo6.jpg")
                    
                    .rightWrapper
                        .col-md-6
                            .wrapperImgLeft
                                img.imgLeft(src="./assets/img/aboutUs/Logo7.jpg")
                        .col-md-6
                            .rightText
                                span.titleText Produk Premium dari Korea
                                p.descText Hanya produk terbaik yang dipilih dengan cermat langsung dari Korea termasuk <b>Snovv</b>, minuman suplemen revolusioner dengan manfaat luar biasa untuk kulit, otot, dan kekebalan tubuh Anda secara keseluruhan.
                    .leftWrapper
                        .col-md-6
                            .leftText
                                span.titleText Pendekatan Holistik terhadap Kesehatan
                                p.descText Vitazen tidak hanya menjual produk, kami menyediakan solusi kesehatan terpadu. Kami membantu Anda menemukan produk yang tepat untuk memenuhi kebutuhan kesehatan dan kecantikan Anda.
                        .col-md-6
                            .wrapperImgRight
                                img.imgRight(src="./assets/img/aboutUs/Logo8.jpg")
                    
                    .rightWrapper
                        .col-md-6
                            .wrapperImgLeft
                                img.imgLeft(src="./assets/img/aboutUs/Logo9.jpg")
                        .col-md-6
                            .rightText
                                span.titleText Produk yang Mendukung Gaya Hidup Sehat
                                p.descText Dari suplemen kesehatan hingga produk perawatan kulit, kami menawarkan berbagai pilihan yang dirancang untuk meningkatkan gaya hidup sehat Anda.

                .fiveContent 
                    .contentWrapper
                        span.titleText Dapatkan Produk Kami
                        .contentText1
                            span.infoText Produk kami dapat dibeli online melalui e-commerce di bawah ini
                            .btnWrapper
                                a.btnShop(href="#")
                                    img(src="./assets/img/icon/ic_shopee.png")
                                    span Shopee
                                a.btnShop(href="#")
                                    img(src="./assets/img/icon/ic_tokped.png")
                                    span Tokopedia
                        .contentText2 
                            span.infoText Tersedia juga di
                            .storeIconWrapper
                                img.storeIC(src="./assets/img/partner1.png" )
                                img.storeIC(src="./assets/img/partner2.png" )
                                img.storeIC(src="./assets/img/partner4.png" )
                                img.storeIC(src="./assets/img/partner3.png" )


    // Footer
    include includes/footer.pug
    include includes/customJS.pug
