doctype html
html(lang='en')

    include includes/head.pug
    body
        include includes/header.pug
        section.aboutUs-section
                .firstContent
                    .logo-parent
                        img.imgLogo1(src="./assets/img/aboutUs/Logo1.png")
                        img.text-logo-parent(src="./assets/img/icon/logo.svg")
                    .textWrapper
                        span.titleText Perkenalan
                        p.descText1 <strong>Rahasia Kesehatan dari Korea Kini Hadir di Indonesia</strong>
                        p.descText2 Bersama Areumcy, kami meyakini bahwa kesehatan dan kecantikan merupakan harmoni yang tercipta dari pikiran, tubuh, dan jiwa. Terinspirasi dari keunggulan standar kesehatan dan kebugaran Korea, kami menghadirkan produk-produk berkualitas tinggi yang dipilih dengan seksama guna memenuhi kebutuhan produk kesehatan bagi masyarakat Indonesia. Tujuan kami adalah mendampingi dan mendukung Anda dalam perjalanan mencapai gaya hidup yang seimbang dan kesehatan optimal dengan cara yang praktis, menyenangkan, dan berkelanjutan.<br/><br/>Kami meyakini kesehatan bukan hanya sekadar tujuan, melainkan sebuah gaya hidup. Di Areumcy, kami berkomitmen untuk mendampingi Anda dalam meraih versi terbaik dari diri Anda melalui solusi inovatif yang mendukung kesehatan dan kebugaran.  Bersama, mari ciptakan perspektif baru tentang hidup sehat dan indah.
                    img.logo2(src="./assets/img/aboutUs/Logo2.png")
                
                .secondContent 
                    .textWrapper
                        span.titleText Filosofi “Areumcy”
                        span.subtitleText Areumcy, nama yang mencerminkan nilai-nilai yang menjadi landasan kuat kami
                        .definisiText
                            .logoTitle
                                span.logoText Areum
                            p.descText Terinspirasi dari kata bahasa Korea “Areumdapda” yang berarti indah.<br>mencerminkan konsep tentang keseimbangan dan harmoni yang menghadirkan kesenangan dan kepuasan estetika visual dan auditori. Kata ini pun mewakili “Diriku yang Sesungguhnya”, simbol dari harmoni antara kesehatan dan penampilan.

                        .definisiText
                            .logoTitle
                                span.logoText Cy
                            p.descText Berarti koneksi, melambangkan hubungan antara kesehatan tubuh, kejernihan pikiran, dan keseimbangan emosional.

                        .definisiText
                            p.descText <strong>Areumcy</strong> merupakan wujud dari keyakinan bahwa kesehatan adalah inti dari kecantikan sejati. Kami berkomitmen untuk menghadirkan produk premium dari Korea yang meningkatkan vitalitas dan harmoni, mendukung Anda untuk menjalani kehidupan yang penuh dengan kepuasan dan keseimbangan.
                
                .thirdContent
                    .visionWrapper
                        .col-md-6
                            .leftText
                                span.titleText Visi Kami
                                span.visionContent Menghadirkan standar kesehatan terbaik dari Korea ke Indonesia, dan menjadi pilihan utama bagi masyarakat Indonesia yang berkomitmen untuk meningkatkan kualitas hidup dan kesejahteraan mereka.
                        .col-md-6
                            .wrapperimgVision
                                img.imgVision(src="./assets/img/aboutUs/Logo3.jpg")
                    .misionWrapper
                        .col-md-6
                            .wrapperimgMision
                                img.imgMision(src="./assets/img/aboutUs/Logo4.jpg")
                        .col-md-6
                            .rightText
                                span.titleText Misi Kami
                                ul
                                    li.misionContent Menyediakan produk kesehatan yang aman, efektif, dan penuh inovasi.
                                    li.misionContent Meningkatkan kesadaran tentang pentingnya hidup sehat sebagai gaya hidup yang berkelanjutan.
                                    li.misionContent Menjadi mitra terpercaya yang mendampingi perjalanan Anda menuju tujuan kesehatan yang lebih baik.

                .fourContent
                    .logo-parent4
                        img.imgLogo4(src="./assets/img/aboutUs/Logo5.jpg")
                        span.text-logo-parent4 Elevate Your Health, Radiate Your Beauty.
                    .leftWrapper
                        .col-md-6
                            .leftText
                                span.titleText Tersertifikasi dan teruji klinis di Indonesia
                                p.descText Produk kami telah menjalani serangkaian uji klinis ketat di Korea dan telah memenuhi standar kesehatan yang berlaku di Indonesia. Kami berkomitmen untuk memastikan setiap produk yang kami tawarkan aman, efektif, dan terpercaya.
                        .col-md-6
                            .wrapperImgRight
                                img.imgRight(src="./assets/img/aboutUs/Logo6.jpg")
                    
                    .rightWrapper
                        .col-md-6
                            .wrapperImgLeft
                                img.imgLeft(src="./assets/img/aboutUs/Logo7.jpg")
                        .col-md-6
                            .rightText
                                span.titleText Produk Premium dari Korea
                                p.descText Hanya menghadirkan produk pilihan terbaik langsung dari Korea, termasuk <strong>Snovv</strong>, minuman suplemen revolusioner yang menawarkan manfaat luar biasa bagi kesehatan kulit, otot, dan daya tahan tubuh Anda secara menyeluruh.
                    .leftWrapper
                        .col-md-6
                            .leftText
                                span.titleText Solusi Kesehatan Holistik
                                p.descText Di Areumcy, kami lebih dari sekadar menjual produk. Kami menawarkan solusi komprehensif yang mendukung Anda dalam mencapai tujuan kesehatan melalui konsumsi suplemen kesehatan, pola hidup sehat, dan bimbingan profesional. 
                        .col-md-6
                            .wrapperImgRight
                                img.imgRight(src="./assets/img/aboutUs/Logo8.jpg")
                    
                    .rightWrapper
                        .col-md-6
                            .wrapperImgLeft
                                img.imgLeft(src="./assets/img/aboutUs/Logo9.jpg")
                        .col-md-6
                            .rightText
                                span.titleText Dukungan untuk Gaya Hidup Sehat
                                p.descText Mulai dari suplemen hingga jadi kebutuhan sehari-hari, koleksi produk kami dirancang untuk melengkapi dan memaksimalkan perjalanan Anda menuju gaya hidup yang lebih sehat dan seimbang.

                .fiveContent 
                    .contentWrapper
                        span.titleText Dapatkan Produk Kami
                        .contentText1
                            span.infoText Produk kami dapat dibeli online melalui e-commerce di bawah ini
                            .btnWrapper
                                a.btnShop(href="#")
                                    img(src="./assets/img/icon/ic_shopee.png")
                                    span Shopee
                                a.btnShop(href="#")
                                    img(src="./assets/img/icon/ic_tokped.png")
                                    span Tokopedia
                        .contentText2 
                            span.infoText Tersedia juga di
                            .storeIconWrapper
                                img.storeIC(src="./assets/img/partner2.png" )
                                img.storeIC(src="./assets/img/partner1.png" )
                                img.storeIC(src="./assets/img/partner4.png" )
                                img.storeIC(src="./assets/img/partner3.png" )


    // Footer
    include includes/footer.pug
    include includes/customJS.pug
