doctype html
html(lang='en')

    include includes/head.pug
    body
        include includes/header.pug
        section.aboutUs-section
            .fixWidth
                .firstContent
                    .logo-parent
                        img(src="./assets/img/aboutUs/Logo1.png")
                    .textWrapper
                        span.titleText Introduction
                        p.descText Discover the Secret to Korean Wellness, Now in Indonesia<br/><br/>At Vitazen, we believe that health and beauty are a harmony of the mind, body, and soul. Inspired by Korea's renowned commitment to innovation and excellence, we bring you premium wellness products tailored for the Indonesian market. Our mission is to redefine your health and beauty journey, making it more accessible, effective, and enjoyable.<br/><br/>With a commitment to quality, transparency, and customer care, Vitazen is not just a store—it's a community dedicated to empowering your health journey. Join us in shaping a future where wellness is a lifestyle, not a luxury.
                    img.logo2(src="./assets/img/aboutUs/Logo2.png")
                
                .secondContent 
                    .textWrapper
                        span.titleText The name Vitazen is inspired by two key elements: "Vita" and "Zen."
                        br
                        br
                        p.descText 1. "Vita" comes from the Latin word for life. This reflects Vitazen's primary mission to support health and a better lifestyle, enabling individuals to live a meaningful and high-quality life.<br/><br/>2. "Zen" refers to the Zen philosophy from Eastern traditions, emphasizing balance, harmony, and peace of mind. <br/><br/>The name Vitazen represents the brand's commitment to providing high-quality Korean products that promote holistic health and help consumers find balance in their lives. <br/><br/>The philosophy behind the name aligns with Vitazen's goal to be a trusted partner in the journey toward a healthy and harmonious lifestyle.
                
                .thirdContent
                    .visionWrapper
                        .leftText
                            span.titleText Our Vision
                            ul
                                li.visionContent To bring the best health standards from Korea to Indonesia
                                li.visionContent Become the top choice for Indonesians in meeting their health and beauty needs.
                        img.imgVision(src="./assets/img/aboutUs/Logo3.png")
                    .misionWrapper 
                        img.imgMision(src="./assets/img/aboutUs/Logo4.png")
                        .rightText 
                            span.titleText Our Mision 
                            ul
                                li.misionContent To provide high-quality, safe, and trustworthy products.
                                li.misionContent Raise public awareness about the importance of maintaining good health.
                                li.misionContent To be a reliable health partner for every customer.

                .fourContent
                    .logo3
                        img(src="./assets/img/aboutUs/Logo5.png")
                    .leftWrapper
                        .leftText
                            span.titleText Clinically Tested & Certified in Indonesia
                            p.descText All our products have undergone rigorous clinical testing in Korea and are certified to meet Indonesian standards. We ensure that every product you receive is safe, effective, and of the highest quality.
                        img.imgRight(src="./assets/img/aboutUs/Logo6.png")
                    
                    .rightWrapper
                        img.imgLeft(src="./assets/img/aboutUs/Logo7.png")
                        .rightText
                            span.titleText Premium Products from Korea
                            p.descText Only the best products are carefully selected directly from Korea, including Snovv, a revolutionary supplement drink with extraordinary benefits for your skin, muscles, and overall immunity.
                    .leftWrapper
                        .leftText
                            span.titleText A Holistic Approach to Health
                            p.descText Vitazen doesn’t just sell products; we provide integrated health solutions. We help you find the right products to meet your health and beauty needs.
                        img.imgRight(src="./assets/img/aboutUs/Logo8.png")
                    
                    .rightWrapper
                        img.imgLeft(src="./assets/img/aboutUs/Logo9.png")
                        .rightText
                            span.titleText Products to Support a Healthy Lifestyle
                            p.descText From health supplements to skincare products, we offer a wide range of options designed to enhance your healthy lifestyle.

                .fiveContent 
                    .contentWrapper
                        span.titleText Get Our Products
                        .contentText1
                            span.infoText You can buy Our products online at the marketplace below.
                            .btnWrapper
                                a.btnShop(href="#")
                                    img(src="./assets/img/icon/ic_shopee.png")
                                    span Shopee
                                a.btnShop(href="#")
                                    img(src="./assets/img/icon/ic_tokped.png")
                                    span Tokopedia
                        .contentText2 
                            span.infoText ALSO Our products are available at
                            .storeIconWrapper
                                img(src="./assets/img/partner1.png" "height: 50px")
                                img(src="./assets/img/partner2.png" "height: 50px")
                                img(src="./assets/img/partner3.png" "height: 50px")
                                img(src="./assets/img/partner4.png" "height: 50px")


    // Footer
    include includes/footer.pug
    include includes/customJS.pug
