doctype html
html(lang='en')

    include includes/head.pug
    body
        include includes/header.pug

        // Section contact-us form
        section.contactus-section
            .container
                .row
                    .col-md-6.end_gap
                        h1 Contact Us
                        span We're here for you. Send us a message using the form below and we'll get back to you promptly!
                        div(style="width: 100%; padding-top: 30px; padding-bottom: 30px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex")
                            div(style="width: 100%; border: 1px rgba(2, 14, 53, 0.20) solid;")
                        .contact-info
                            .email-item
                                img(src="./assets/img/icon/ic_email.png")
                                .textEmail
                                    span Email
                                    p info@vitazen.com
                            .adress-item
                                img(src="./assets/img/icon/ic_map.png")
                                .textAdress
                                    span Address
                                    p AIA CENTRAL 21st FL. Jl. Jenderal Sudirman No.Kav. 48A, <br/>Karet Semanggi, Kecamatan Setiabudi, Kota Jakarta Selatan, <br/>Daerah Khusus Ibukota Jakarta 12930
                                    
                    .col-md-6.start_gap
                        form
                            .form-group
                                input.form-control.form-control-lg(type="text" placeholder="Name")
                            .form-group
                                input.form-control.form-control-lg(type="email" placeholder="Email")
                            .form-group
                                textarea.form-control.form-control-lg(placeholder="Message" rows="4")
                            button.btnSend(type="submit") Send Message

        // Footer
        include includes/footer.pug
        include includes/customJS.pug
        