doctype html
html(lang='en')

    include includes/head.pug
    body
        include includes/header.pug

        // Section contact-us form
        section.contactus-section
            .container
                .row
                    .col-md-6.end_gap
                        h1 Contact Us
                        p We're here for you. Send us a message using the form below and we'll get back to you promptly!
                        hr(style="padding: 0 2rem;")
                        .contact-info
                            .info-item
                                i.bi.bi-envelope
                                div
                                    h6 Email
                                    p info@vitazen.com
                            .info-item
                                i.bi.bi-geo-alt
                                div
                                    h6 Address
                                    p AIA CENTRAL 21st FL. Jl. Jenderal Sudirman No.Kav. 48A, 
                                        br
                                        Karet Semanggi, Kecamatan Setiabudi, Kota Jakarta Selatan,
                                        br
                                        Daerah Khusus Ibukota Jakarta 12930
                    .col-md-6.start_gap
                        form
                            .form-group
                                input.form-control.form-control-lg(type="text" placeholder="Name")
                            .form-group
                                input.form-control.form-control-lg(type="email" placeholder="Email")
                            .form-group
                                textarea.form-control.form-control-lg(placeholder="Message" rows="4")
                            .d-grid.gap-2
                                button.btn.btn-primary.btn-lg.text-white(type="button") Send Message

        // Footer
        include includes/footer.pug
        include includes/customJS.pug
        