doctype html
html(lang='en')

    include includes/head.pug
    body
        include includes/header.pug

        // Section contact-us form
        section.contactus-section
            .container
                .row
                    .col-md-6.end_gap
                        h1 Hubungi Kami
                        span Kami siap membantu Anda. Kirimkan pesan kepada kami menggunakan format ini dan kami akan segera membalasnya!
                        .lineWrapper
                            .lineSeparator
                        .contact-info
                            .email-item
                                img(src="./assets/img/icon/ic_email.png")
                                .textEmail
                                    span Email
                                    p info@vitazen.com
                            .adress-item
                                img(src="./assets/img/icon/ic_map.png")
                                .textAdress
                                    span Alamat
                                    p AIA CENTRAL Lantai 21, Jl. Jenderal Sudirman No.Kav. 48A, <br/>Karet Semanggi, Kecamatan Setiabudi, Kota Jakarta Selatan, <br/>Daerah Khusus Ibukota Jakarta 12930
                                    
                    .lineWrapperGap
                        .lineSeparatorGap
                    .col-md-6.start_gap
                        form
                            .form-group
                                input.form-control.form-control-lg(type="text" placeholder="Nama")
                            .form-group
                                input.form-control.form-control-lg(type="email" placeholder="Email")
                            .form-group
                                input.form-control.form-control-lg(type="text" placeholder="Pesan")
                            button.btnSend(type="submit") Kirim Pesan

        // Footer
        include includes/footer.pug
        include includes/customJS.pug
        