doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Vitazen – Minuman Kecantikan untuk Kulit Cerah dan Sehat

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Bootstrap icons
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet', type='text/css')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body
        // Top bar for promotional message
        .bg-dark.text-white.py-1
            .container.text-center
                span Glutathione + Vitamin C 1-month limited edition package, 53% discount!

        // Main navigation bar
        nav.navbar.navbar-expand-lg.navbar-light.bg-white.border-bottom
            .container
                // Logo
                a.navbar-brand(href="#") 
                    img(src="path-to-logo.png" alt="Vitazen Logo" height="30")

                // Hamburger menu for smaller screens
                button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
                    span.navbar-toggler-icon
            
                // Navigation menu
                .collapse.navbar-collapse#navbarNav
                    ul.navbar-nav.mx-auto
                        li.nav-item
                            a.nav-link.active(href="index.html") Home
                        li.nav-item
                            a.nav-link(href="products.html") Products
                        li.nav-item
                            a.nav-link(href="v-sight.html") V-Sight
                        li.nav-item
                            a.nav-link(href="#") About Us
                // Contact button to the right
                a.btn.btn-primary.ms-3.text-white(href="#") Contact Us

        // Section contact-us form
        section.contactus-section
            .container
                .row
                    .col-md-6
                        h1 Contact Us
                        p We’re here for you. Send us a message using the form below and we’ll get back to you promptly!
                        hr
                        .contact-info
                            .info-item
                                i.bi.bi-envelope
                                div
                                    h6 Email
                                    p info@vitazen.com
                            .info-item
                                i.bi.bi-geo-alt
                                div
                                    h6 Address
                                    p AIA CENTRAL 21st FL. Jl. Jenderal Sudirman No.Kav. 48A, 
                                        br
                                        Karet Semanggi, Kecamatan Setiabudi, Kota Jakarta Selatan,
                                        br
                                        Daerah Khusus Ibukota Jakarta 12930
                    .col-md-6
                        form
                            .form-group
                                input.form-control(type="text" placeholder="Name")
                            .form-group
                                input.form-control(type="email" placeholder="Email")
                            .form-group
                                textarea.form-control(placeholder="Message" rows="4")
                            div.d-grid.gap-2
                                button.btn.btn-primary(type="button") Send Message

        


        // Section banner purple
        section.purple-section
            .container
                .row.text-center
                    .col-md-3
                        i.icon-quality 
                        h6 High Quality
                        p Top International Products
                    .col-md-3
                        i.icon-shipping 
                        h6 Free Shipping
                        p Order over Rp200.00
                    .col-md-3
                        i.icon-partnership 
                        h6 Partnership
                        p Online Registration Form
                    .col-md-3
                        i.icon-support 
                        h6 24 / 7 Support
                        p Dedicated support

        // Footer
        .footer
            .container
                .row
                    .col-md-6
                        h2 VITAZEN
                        p Sign up for email updates on products, launches, and events.
                        form.d-flex(action="#", method="POST")
                            input.form-control(type="email", placeholder="Email")
                            button.btn.btn-primary(type="submit") Submit
                    .col-md-6.text-md-end
                        h5 Contact Us
                        p AIA CENTRAL 21st FL. 
                        p Jl. Jenderal Sudirman No.Kav. 48A, 
                        p Karet Semanggi, Kecamatan Setiabudi, 
                        p Kota Jakarta Selatan, DKI Jakarta 12930
                        a(href="mailto:admin@vitazen.com") admin@vitazen.com
                        .social-icons
                        a(href="#", target="_blank").me-2
                            i.bi.bi-tiktok
                        a(href="#", target="_blank").me-2
                            i.bi.bi-youtube
                        a(href="#", target="_blank")
                            i.bi.bi-instagram
                .row.mt-3
                    .col-md-6
                        p &copy; Vitazen. 2024 All rights reserved.
                    .col-md-6.text-md-end
                        a(href="#") Privacy Policy
                        ||
                        a(href="#") Terms & Conditions


        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
        