doctype html
html(lang='en')

    include includes/head.pug
    body
        include includes/header.pug

        // Section contact-us form
        section.VsightDetail-section
            .titleWrapper
                label.titleText 7 Rekomendasi Suplemen Korea
                label.dateText 1 November 2024
            img.picVsight(src="./assets/img/dtVsight.jpg")
            p.contentText Temukan Rahasia Kesehatan Khas Korea, Kini Hadir di Indonesia<br/><br/>Di Vitazen, kami percaya bahwa kesehatan dan kecantikan adalah harmoni antara pikiran, tubuh, dan jiwa. Terinspirasi oleh komitmen Korea yang terkenal terhadap inovasi dan keunggulan, kami menghadirkan produk kesehatan premium yang dirancang khusus untuk pasar Indonesia. Misi kami adalah mendefinisikan ulang perjalanan kesehatan dan kecantikan Anda, menjadikannya lebih mudah diakses, efektif, dan menyenangkan.<br/><br/>Dengan komitmen terhadap kualitas, transparansi, dan layanan pelanggan, Vitazen bukan sekadar toko—ini adalah komunitas yang didedikasikan untuk memberdayakan perjalanan kesehatan Anda. Bergabunglah dengan kami dalam membentuk masa depan di mana kesehatan adalah gaya hidup, bukan kemewahan.

            nav
                ul.pagination.justify-content-center
                    li.page-item
                        a.page-link(href="#") 
                            i.fa.fa-chevron-left.colored
                    li.page-item.active
                        a.page-link(href="#") 1
                    li.page-item
                        a.page-link(href="#") 2
                    li.page-item
                        a.page-link(href="#")
                            i.fa.fa-chevron-right.colored2

    // Footer
    include includes/footer.pug
    include includes/customJS.pug