doctype html
html(lang='en')

    include includes/head.pug
    body
        include includes/header.pug
        // Section hero banner
        section.hero
            .carousel.slide#heroCarousel(data-bs-ride="carousel")
                .carousel-indicators
                    button(type="button", data-bs-target="#heroCarousel", data-bs-slide-to="0", class="active", aria-current="true", aria-label="Slide 1")
                    button(type="button", data-bs-target="#heroCarousel", data-bs-slide-to="1", aria-label="Slide 2")
                    button(type="button", data-bs-target="#heroCarousel", data-bs-slide-to="2", aria-label="Slide 3")
                .carousel-inner
                    .carousel-item.active
                        .row.align-items-center
                            img(src="./assets/img/Hero 1.png", alt="Snovv Banner" style="height:810px; object-fit: cover;")
                    .carousel-item
                        .row.align-items-center
                            img(src="./assets/img/Hero 2.png", alt="Snovv Banner" style="height:810px; object-fit: cover;")
                    .carousel-item
                        .row.align-items-center
                            img(src="./assets/img/Hero 3.png", alt="Snovv Banner" style="height:810px; object-fit: cover;")

        // Section Promotion Youtube Video
        section.vidYoutube
            div(style="width: 100%; height: 100%; padding-top: 82px; padding-bottom: 97px; padding-left: 90px; padding-right: 90px; background: rgba(255, 255, 255, 0.10); justify-content: center; align-items: center; display: inline-flex")
                div(style="width: 1260px; height: 673px; position: relative")
                    img#youtubeImg(src="./assets/img/img_youtube.png" style="width: 1260px; height: 673px; left: 0px; top: 0px; position: absolute; box-shadow: 0px 0px 0px; border-radius: 20px; filter: blur(0px); cursor: pointer;" onclick="changeToVideo()")
                    img#icPlay(src="./assets/img/icon/ic_playVid.png" style="width: 109.43px; height: 108.56px; padding: 20px; left: 575.72px; top: 273.78px; position: absolute; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex; cursor: pointer;" onclick="changeToVideo()")

        // section Top Product
        section.products
            div(style="width: 100%; height: 100%; padding-top: 70px; padding-bottom: 31px; padding-left: 101px; padding-right: 101px; background: rgba(255, 255, 255, 0.10); justify-content: center; align-items: center; display: inline-flex")
                div(style="padding-bottom: 48px; align-self: stretch; flex-direction: column; justify-content: center; align-items: flex-start; gap: 48px; display: inline-flex")
                    div(style="align-self: stretch; justify-content: space-between; align-items: center; display: inline-flex")
                        span(style="text-align: center; color: #020E35; font-size: 56px; font-family: Poppins; font-weight: 500; word-wrap: break-word") Products
                        div(style="padding-left: 20px; padding-right: 20px; padding-top: 10px; padding-bottom: 10px; background: #F6F2FF; border-radius: 5px; justify-content: center; align-items: center; gap: 10px; display: flex")
                            a(href="products.html" style="text-decoration: none; color: #A083DE; font-size: 16px; font-family: Poppins; font-weight: 500; word-wrap: break-word") View more
                    div(style="justify-content: flex-start; align-items: flex-start; gap: 30px; display: inline-flex")
                        a(href="productDetail.html" style="flex-direction: column; justify-content: center; align-items: center; gap: 20px; display: inline-flex")
                            div(style="width: 392px; height: 400px; border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: center; align-items: center; display: flex")
                                img(style="width: 392px; height: 400px" src="./assets/img/product1.png")
                            div(style="align-self: stretch; height: 61px; padding-left: 5px; padding-right: 5px; flex-direction: column; justify-content: center; align-items: flex-start; display: flex")
                                span(style="color: black; font-size: 20px; font-family: Poppins; font-weight: 400; line-height: 32px; word-wrap: break-word") Snovv Glutathione
                                div(style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex")
                                    span(style="color: #020E35; font-size: 18px; font-family: Plus Jakarta Sans; font-weight: 700; line-height: 28.80px; word-wrap: break-word") Rp150.000
                                    span(style="text-align: center; color: rgba(2, 14, 53, 0.50); font-size: 14px; font-family: Plus Jakarta Sans; font-weight: 500; text-decoration: line-through; text-transform: capitalize; line-height: 16.80px; word-wrap: break-word") Rp 250.000
                                    div(style="padding-left: 8px; padding-right: 8px; padding-top: 5px; padding-bottom: 5px; background: #FFC9C9; border-radius: 50px; justify-content: center; align-items: center; gap: 2px; display: flex")
                                        span(style="color: #CF0003; font-size: 14px; font-family: Inter; font-weight: 700; line-height: 16.80px; word-wrap: break-word") 43%

                        a(href="#" style="flex-direction: column; justify-content: center; align-items: center; gap: 20px; display: inline-flex")
                            div(style="width: 392px; height: 400px; border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: center; align-items: center; display: flex")
                                img(style="width: 392px; height: 400px" src="./assets/img/product2.png")
                            div(style="align-self: stretch; height: 61px; padding-left: 5px; padding-right: 5px; flex-direction: column; justify-content: center; align-items: flex-start; display: flex")
                                span(style="color: black; font-size: 20px; font-family: Poppins; font-weight: 400; line-height: 32px; word-wrap: break-word") Snovv Magnesium
                                div(style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex")
                                    span(style="color: #020E35; font-size: 18px; font-family: Plus Jakarta Sans; font-weight: 700; line-height: 28.80px; word-wrap: break-word") Rp93.000
                                    span(style="text-align: center; color: rgba(2, 14, 53, 0.50); font-size: 14px; font-family: Plus Jakarta Sans; font-weight: 500; text-decoration: line-through; text-transform: capitalize; line-height: 16.80px; word-wrap: break-word") Rp 150.000
                                    div(style="padding-left: 8px; padding-right: 8px; padding-top: 5px; padding-bottom: 5px; background: #FFC9C9; border-radius: 50px; justify-content: center; align-items: center; gap: 2px; display: flex")
                                        span(style="color: #CF0003; font-size: 14px; font-family: Inter; font-weight: 700; line-height: 16.80px; word-wrap: break-word") 43%

                        a(href="#" style="flex-direction: column; justify-content: center; align-items: center; gap: 20px; display: inline-flex")
                            div(style="width: 392px; height: 400px; border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: center; align-items: center; display: flex")
                                img(style="width: 392px; height: 400px" src="./assets/img/product3.png")
                            div(style="align-self: stretch; height: 61px; padding-left: 5px; padding-right: 5px; flex-direction: column; justify-content: center; align-items: flex-start; display: flex")
                                span(style="color: black; font-size: 20px; font-family: Poppins; font-weight: 400; line-height: 32px; word-wrap: break-word") Snovv Liposome Vitamin C
                                div(style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex")
                                    span(style="color: #020E35; font-size: 18px; font-family: Plus Jakarta Sans; font-weight: 700; line-height: 28.80px; word-wrap: break-word") Rp93.000
                                    span(style="text-align: center; color: rgba(2, 14, 53, 0.50); font-size: 14px; font-family: Plus Jakarta Sans; font-weight: 500; text-decoration: line-through; text-transform: capitalize; line-height: 16.80px; word-wrap: break-word") Rp 150.000
                                    div(style="padding-left: 8px; padding-right: 8px; padding-top: 5px; padding-bottom: 5px; background: #FFC9C9; border-radius: 50px; justify-content: center; align-items: center; gap: 2px; display: flex")
                                        span(style="color: #CF0003; font-size: 14px; font-family: Inter; font-weight: 700; line-height: 16.80px; word-wrap: break-word") 43%

        // Section Promotion Banner
        section.promo-section
            div(style="padding: 32px 102px 108px 102px; width: 100%; height: 100%; align-items: center; justify-content: center;")
                .carousel.slide#promoCarausel(data-bs-ride="carousel" style="align-items: center; justify-content: center;")
                    .carousel-indicators.custom-indicators
                        button(type="button" data-bs-target="#promoCarausel" data-bs-slide-to="0" class="active" aria-current="true")
                        button(type="button" data-bs-target="#promoCarausel" data-bs-slide-to="1")
                        button(type="button" data-bs-target="#promoCarausel" data-bs-slide-to="2")
                    .carousel-inner
                        .carousel-item.active
                            .d-flex.justify-content-center
                                img.text-center(src="./assets/img/promo1.png" style="width: 1236px;" alt="Snovv Promo")
                        .carousel-item
                            .d-flex.justify-content-center
                                img(src="./assets/img/promo1.png" alt="Snovv Promo" style="width: 1236px;")
                        .carousel-item
                            .d-flex.justify-content-center
                                img(src="./assets/img/promo1.png" alt="Snovv Promo" style="width: 1236px;")
                    a.carousel-control-prev(type="button" data-bs-target="#promoCarausel" data-bs-slide="prev")
                        span.carousel-control-prev-icon(aria-hidden="true")
                        span.visually-hidden Previous
                    a.carousel-control-next(type="button" data-bs-target="#promoCarausel" data-bs-slide="next")
                        span.carousel-control-next-icon(aria-hidden="true")
                        span.visually-hidden Next

        // Section Website Review
        section.reviewWebsite
            div(style="width: 100%; height: 100%; position: relative")
                span(style="left: 510px; top: 70px; position: absolute; text-align: center; color: #020E35; font-size: 56px; font-family: Poppins; font-weight: 500; word-wrap: break-word") What They Say
                .row
                    .multiple-card-slider
                        .carousel#carouselExampleControls(data-bs-ride="false")
                            .container
                                .carousel-inner
                                    .carousel-item.active
                                        div(style="padding-bottom: 20px; background: white; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15); border-radius: 10px; border: 1px rgba(0, 0, 0, 0) solid; flex-direction: column; justify-content: center; align-items: center; width: 302px; border-top-left-radius: 10px; border-top-right-radius: 10px; overflow: hidden; flex-direction: column; display: flex")
                                            img(style="width: 100%; height: 320px;" src="./assets/img/revWeb2.png")
                                            div(style="width: 100%; height: 100%; padding: 20px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 10px; display: inline-flex")
                                                div(style="justify-content: flex-start; align-items: flex-start; gap: 5px; display: inline-flex")
                                                    span.fa.fa-star
                                                    span.fa.fa-star
                                                    span.fa.fa-star
                                                    span.fa.fa-star
                                                    span.fa.fa-star
                                                span(style="align-self: stretch; height: 56px; color: #020E35; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 400; line-height: 25.60px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; word-wrap: break-word") I like that the dosage is printed neatly on the front. I had a blood test for vitamin D and it came out to be insufficient, so I am taking this product that also contains other ingredients.
                                                div(style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex")
                                                    img(style="width: 40px; height: 40px; background: linear-gradient(0deg, #D9D9D9 0%, #D9D9D9 100%); border-radius: 9999px" src="./assets/img/userWeb1.png")
                                                    div(style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex")
                                                        span(style="color: #444444; font-size: 12px; font-family: Plus Jakarta Sans; font-weight: 600; line-height: 18px; word-wrap: break-word") Amelia Putri
                                                        span(style="color: #444444; font-size: 10px; font-family: Plus Jakarta Sans; font-weight: 400; line-height: 12px; word-wrap: break-word") 01 Februari 2024
                                    .carousel-item
                                        div(style="padding-bottom: 20px; background: white; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15); border-radius: 10px; border: 1px rgba(0, 0, 0, 0) solid; flex-direction: column; justify-content: center; align-items: center; width: 302px; border-top-left-radius: 10px; border-top-right-radius: 10px; overflow: hidden; flex-direction: column; display: flex")
                                            img(style="width: 100%; height: 320px;" src="./assets/img/revWeb2.png")
                                            div(style="width: 100%; height: 100%; padding: 20px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 10px; display: inline-flex")
                                                div(style="justify-content: flex-start; align-items: flex-start; gap: 5px; display: inline-flex")
                                                    span.fa.fa-star
                                                    span.fa.fa-star
                                                    span.fa.fa-star
                                                    span.fa.fa-star
                                                    span.fa.fa-star
                                                span(style="align-self: stretch; height: 56px; color: #020E35; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 400; line-height: 25.60px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; word-wrap: break-word") I like that the dosage is printed neatly on the front. I had a blood test for vitamin D and it came out to be insufficient, so I am taking this product that also contains other ingredients.
                                                div(style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex")
                                                    img(style="width: 40px; height: 40px; background: linear-gradient(0deg, #D9D9D9 0%, #D9D9D9 100%); border-radius: 9999px" src="./assets/img/userWeb1.png")
                                                    div(style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex")
                                                        span(style="color: #444444; font-size: 12px; font-family: Plus Jakarta Sans; font-weight: 600; line-height: 18px; word-wrap: break-word") Amelia Putri
                                                        span(style="color: #444444; font-size: 10px; font-family: Plus Jakarta Sans; font-weight: 400; line-height: 12px; word-wrap: break-word") 01 Februari 2024
                                    .carousel-item
                                        div(style="padding-bottom: 20px; background: white; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15); border-radius: 10px; border: 1px rgba(0, 0, 0, 0) solid; flex-direction: column; justify-content: center; align-items: center; width: 302px; border-top-left-radius: 10px; border-top-right-radius: 10px; overflow: hidden; flex-direction: column; display: flex")
                                            img(style="width: 100%; height: 320px;" src="./assets/img/revWeb3.png")
                                            div(style="width: 100%; height: 100%; padding: 20px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 10px; display: inline-flex")
                                                div(style="justify-content: flex-start; align-items: flex-start; gap: 5px; display: inline-flex")
                                                    span.fa.fa-star
                                                    span.fa.fa-star
                                                    span.fa.fa-star
                                                    span.fa.fa-star
                                                    span.fa.fa-star
                                                span(style="align-self: stretch; height: 56px; color: #020E35; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 400; line-height: 25.60px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; word-wrap: break-word") I like that the dosage is printed neatly on the front. I had a blood test for vitamin D and it came out to be insufficient, so I am taking this product that also contains other ingredients.
                                                div(style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex")
                                                    img(style="width: 40px; height: 40px; background: linear-gradient(0deg, #D9D9D9 0%, #D9D9D9 100%); border-radius: 9999px" src="./assets/img/userWeb1.png")
                                                    div(style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex")
                                                        span(style="color: #444444; font-size: 12px; font-family: Plus Jakarta Sans; font-weight: 600; line-height: 18px; word-wrap: break-word") Amelia Putri
                                                        span(style="color: #444444; font-size: 10px; font-family: Plus Jakarta Sans; font-weight: 400; line-height: 12px; word-wrap: break-word") 01 Februari 2024
                                    .carousel-item
                                        div(style="padding-bottom: 20px; background: white; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15); border-radius: 10px; border: 1px rgba(0, 0, 0, 0) solid; flex-direction: column; justify-content: center; align-items: center; width: 302px; border-top-left-radius: 10px; border-top-right-radius: 10px; overflow: hidden; flex-direction: column; display: flex")
                                            img(style="width: 100%; height: 320px;" src="./assets/img/revWeb3.png")
                                            div(style="width: 100%; height: 100%; padding: 20px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 10px; display: inline-flex")
                                                div(style="justify-content: flex-start; align-items: flex-start; gap: 5px; display: inline-flex")
                                                    span.fa.fa-star
                                                    span.fa.fa-star
                                                    span.fa.fa-star
                                                    span.fa.fa-star
                                                    span.fa.fa-star
                                                span(style="align-self: stretch; height: 56px; color: #020E35; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 400; line-height: 25.60px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; word-wrap: break-word") I like that the dosage is printed neatly on the front. I had a blood test for vitamin D and it came out to be insufficient, so I am taking this product that also contains other ingredients.
                                                div(style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex")
                                                    img(style="width: 40px; height: 40px; background: linear-gradient(0deg, #D9D9D9 0%, #D9D9D9 100%); border-radius: 9999px" src="./assets/img/userWeb1.png")
                                                    div(style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex")
                                                        span(style="color: #444444; font-size: 12px; font-family: Plus Jakarta Sans; font-weight: 600; line-height: 18px; word-wrap: break-word") Amelia Putri
                                                        span(style="color: #444444; font-size: 10px; font-family: Plus Jakarta Sans; font-weight: 400; line-height: 12px; word-wrap: break-word") 01 Februari 2024
                                button.carousel-control-prev(type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next")
                                    span.carousel-control-prev-icon(aria-hidden="true")
                                    span.visually-hidden Preview
                                button.carousel-control-next(type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next")
                                    span.carousel-control-next-icon(aria-hidden="true")
                                    span.visually-hidden Next

        section.reviewIGVid
            .multiple-card-slider
                .carousel#igCarausel(data-bs-ride="false")
                    .container
                        .carousel-inner
                            .carousel-item.active
                                .row
                                    .col
                                        div(style="width:fit-content; padding-left: 2px; box-shadow: 4px 4px 4px; border-radius: 20px; overflow: hidden; filter: blur(3px);")
                                            img(src="./assets/img/igVid2.png" height="400px")
                                    .col
                                        div(style="width:fit-content; padding-left: 2px; box-shadow: 4px 4px 4px; border-radius: 20px; overflow: hidden; filter: blur(3px);")
                                            img(src="./assets/img/igVid2.png" height="400px")
                                    .col
                                        div(style="width:fit-content; padding-left: 2px; box-shadow: 4px 4px 4px; border-radius: 20px; overflow: hidden; filter: blur(3px);")
                                            img(src="./assets/img/igVid2.png" height="400px")
                                    .col
                                        div(style="width:fit-content; padding-left: 2px; box-shadow: 4px 4px 4px; border-radius: 20px; overflow: hidden;")
                                            img(src="./assets/img/igVid.png" height="400px")
                                    .col
                                        div(style="width:fit-content; padding-left: 2px; box-shadow: 4px 4px 4px; border-radius: 20px; overflow: hidden; filter: blur(3px);")
                                            img(src="./assets/img/igVid2.png" height="400px")
                                    .col
                                        div(style="width:fit-content; padding-left: 2px; box-shadow: 4px 4px 4px; border-radius: 20px; overflow: hidden; filter: blur(3px);")
                                            img(src="./assets/img/igVid2.png" height="400px")
                            .carousel-item
                                .row
                                    .col
                                        div(style="width:fit-content; padding-left: 2px; box-shadow: 4px 4px 4px; border-radius: 20px; overflow: hidden; filter: blur(3px);")
                                            img(src="./assets/img/igVid2.png" height="400px")
                                    .col
                                        div(style="width:fit-content; padding-left: 2px; box-shadow: 4px 4px 4px; border-radius: 20px; overflow: hidden; filter: blur(3px);")
                                            img(src="./assets/img/igVid2.png" height="400px")
                                    .col
                                        div(style="width:fit-content; padding-left: 2px; box-shadow: 4px 4px 4px; border-radius: 20px; overflow: hidden; filter: blur(3px);")
                                            img(src="./assets/img/igVid2.png" height="400px")
                                    .col
                                        div(style="width:fit-content; padding-left: 2px; box-shadow: 4px 4px 4px; border-radius: 20px; overflow: hidden;")
                                            img(src="./assets/img/igVid.png" height="400px")
                                    .col
                                        div(style="width:fit-content; padding-left: 2px; box-shadow: 4px 4px 4px; border-radius: 20px; overflow: hidden; filter: blur(3px);")
                                            img(src="./assets/img/igVid2.png" height="400px")
                                    .col
                                        div(style="width:fit-content; padding-left: 2px; box-shadow: 4px 4px 4px; border-radius: 20px; overflow: hidden; filter: blur(3px);")
                                            img(src="./assets/img/igVid2.png" height="400px")
                        button.carousel-control-prev(type="button" data-bs-target="#igCarausel" data-bs-slide="prev")
                            span.carousel-control-prev-icon(aria-hidden="true")
                            span.visually-hidden Preview
                        button.carousel-control-next(type="button" data-bs-target="#igCarausel" data-bs-slide="next")
                            span.carousel-control-next-icon(aria-hidden="true")
                            span.visually-hidden Next

            
        // Section Shop Review
        section.reviewShop
            .carousel.carousel-dark.slide.slide#reviewWeb(data-bs-ride="carousel")
                .carousel-indicators
                    button(type="button" data-bs-target="#reviewWeb" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1")
                    button(type="button" data-bs-target="#reviewWeb" data-bs-slide-to="1" aria-label="Slide 2")
                    button(type="button" data-bs-target="#reviewWeb" data-bs-slide-to="2" aria-label="Slide 3")
                .carousel-inner(style="padding: 0 4rem;")
                    .carousel-item-active
                        .container.d-flex.mt-4.p-4
                            .col-md-6
                                .card.mb-3
                                    .row.g-0
                                        .col-md-4
                                            img.imgProduct(src="./assets/img/revWeb1.png" height="220px")
                                        .col-md-8
                                            .card-body
                                                span.fa.fa-star.checked
                                                span.fa.fa-star.checked
                                                span.fa.fa-star.checked
                                                span.fa.fa-star.checked
                                                span.fa.fa-star.checked
                                                p I like that the dosage is printed neatly on the front. I had a blood test for vitamin D and it came out to be insufficient, so I am taking this product that also contains other ingredients.
                                                .personWrapper
                                                    img.icShop(src="./assets/img/icon/ic_shopee.png" height="45px")
                                                    .col
                                                        span Chika Amalia
                                                        p 01 November 2024
                            .col-md-6
                                .card.mb-3
                                    .row.g-0
                                        .col-md-4
                                            img(src="./assets/img/revWeb2.png" height="220px")
                                        .col-md-8
                                            .card-body
                                                span.fa.fa-star.checked
                                                span.fa.fa-star.checked
                                                span.fa.fa-star.checked
                                                span.fa.fa-star.checked
                                                span.fa.fa-star.checked
                                                p I like that the dosage is printed neatly on the front. I had a blood test for vitamin D and it came out to be insufficient, so I am taking this product that also contains other ingredients.
                                                .personWrapper
                                                    img.icShop(src="./assets/img/icon/ic_shopee.png" height="45px")
                                                    .col
                                                        span Chika Amalia
                                                        p 01 November 2024
                button.carousel-control-prev(type="button" data-bs-target="#reviewWeb" data-bs-slide="prev")
                    span.carousel-control-prev-icon(aria-hidden="true")
                    span.visually-hidden Previous
                button.carousel-control-next(type="button" data-bs-target="#reviewWeb" data-bs-slide="next")
                    span.carousel-control-next-icon(aria-hidden="true")
                    span.visually-hidden Next

        section.avaibleStore
            .container
                h6.text-center Our products are available at
                .row.gx-5.justify-content-center.p-3
                    .col-md-2
                        img(src="./assets/img/partner1.png")
                    .col-md-2
                        img(src="./assets/img/partner2.png")
                    .col-md-2
                        img(src="./assets/img/partner3.png")
                    .col-md-2
                        img(src="./assets/img/partner4.png")

        // Section Top Product
        section.vSight.py-5
            .vsight_container
                .wrapper
                    h1 V-Sight
                    a.btn view more
                .row.gx-5
                    //- Product 1
                    .col-md-4.mb-4.Vcontent
                        img(src="./assets/img/article1.png")
                        h4.card-title 7 Recommended Korean Supplements 
                        p 1 November 2024
                    .col-md-4.mb-4.Vcontent
                        img(src="./assets/img/article2.png")
                        h4.card-title Keep healhty inside, fresh outside
                        p 1 November 2024
                    .col-md-4.mb-4.Vcontent
                        img(src="./assets/img/article3.png")
                        h4.card-title 7 Keys to keep your face brighter through the day
                        p 3 Oktober 2024

        // Footer
        include includes/footer.pug
        include includes/customJS.pug
        script.
            function changeToVideo() {
                // Reference to the image element
                const imgElement = document.getElementById('youtubeImg');
                const icplay = document.getElementById('icPlay');

                // Create a new video element
                const videoElement = document.createElement('video');
                videoElement.width = 1260; // Set the width of the video
                videoElement.controls = true; // Add controls to the video
                videoElement.autoplay = true; // Optional: start playing automatically
                videoElement.style.borderRadius = '20px';
                videoElement.style.boxShadow = '0px 0px 0px';

                // Create a source element for the video
                const sourceElement = document.createElement('source');
                sourceElement.src = "./assets/video/snovv_ads.mp4"; // Set the video source URL
                sourceElement.type = "video/mp4"; // Set the video type

                videoElement.addEventListener('play', () => {
                    icplay.style.display = 'none'; // Show the element
                });

                videoElement.addEventListener('pause', () => {
                    icplay.style.display = 'none'; // Hide the element
                });

                // Optionally, hide the element when the video ends
                videoElement.addEventListener('ended', () => {
                    icplay.style.display = 'block';
                    videoElement.parentNode.replaceChild(imgElement, videoElement);
                });

                // Append the source to the video
                videoElement.appendChild(sourceElement);

                // Replace the image with the video
                imgElement.parentNode.replaceChild(videoElement, imgElement);
            }

            $('.multiple-card-slider .carousel').each(function(){
                var currentCarouselId = '#' + $(this).attr('id');
                const multipleItemCarousel = document.querySelector(currentCarouselId);

                if(window.matchMedia("(min-width:576px)").matches){
                    const carousel = new bootstrap.Carousel(multipleItemCarousel, {
                        interval: false,
                        wrap: false
                    })
                    var carouselWidth = $(currentCarouselId + ' .carousel-inner')[0].scrollWidth;
                    var cardWidth = $(currentCarouselId + ' .carousel-item').width();
                    var scrollPosition = 0;    
                    $(currentCarouselId + ' .carousel-control-next').on('click', function(){
                        if(scrollPosition < (carouselWidth - (cardWidth * 4))){
                            console.log('next');
                            scrollPosition = scrollPosition + cardWidth;
                            $(currentCarouselId + ' .carousel-inner').animate({scrollLeft: scrollPosition},600);
                        }
                    });
                    $(currentCarouselId + ' .carousel-control-prev').on('click', function(){
                        if(scrollPosition > 0){
                            console.log('prev');
                            scrollPosition = scrollPosition - cardWidth;
                            $(currentCarouselId + ' .carousel-inner').animate({scrollLeft: scrollPosition},600);
                        }
                    });
                }else{
                    $(multipleItemCarousel).addClass('slide');
                }
            });
