doctype html
html(lang='en')

    include includes/head.pug
    body
        include includes/header.pug
        // Section hero banner 
        section.hero
            .carousel.slide#heroCarousel(data-bs-ride="carousel")
                .carousel-indicators
                    button(type="button", data-bs-target="#heroCarousel", data-bs-slide-to="0", class="active", aria-current="true", aria-label="Slide 1")
                    button(type="button", data-bs-target="#heroCarousel", data-bs-slide-to="1", aria-label="Slide 2")
                    button(type="button", data-bs-target="#heroCarousel", data-bs-slide-to="2", aria-label="Slide 3")
                .carousel-inner
                    .carousel-item.active
                        .row.align-items-center
                            img(src="./assets/img/img_hero1.png", alt="Snovv Banner")
                    .carousel-item
                        .row.align-items-center
                            img(src="./assets/img/img_hero1.png", alt="Snovv Banner")
                    .carousel-item
                        .row.align-items-center
                            img(src="./assets/img/img_hero1.png", alt="Snovv Banner")

        section.vidYoutube
            .container.text-center
                //- iframe.vid(src="https://www.youtube.com/embed/eVlV9dN4nn4")
                iframe.vid(src="https://www.youtube.com/embed/eVlV9dN4nn4" title="SNOVV - Lebih Dari Sekedar Minuman" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen)


        // Section Top Product
        section.products.py-5
            .product_container
                .wrapper
                    h1 Products
                    a.btn view more
                .row
                    //- Product 1
                    .col-md-4.mb-4
                        .card.border-0.shadow
                            img.card-img-top(src="./assets/img/product1.png", alt="Snovv Glutathione")
                            .card-body.text-center
                                h5.card-title Snovv Glutathione
                                p.card-price
                                    span.price-new Rp250.000
                                    span.price-old.text-muted Rp350.000
                    .col-md-4.mb-4
                        .card.border-0.shadow
                            img.card-img-top(src="./assets/img/product2.png", alt="Snovv Magnesium")
                            .card-body.text-center
                                h5.card-title Snovv Magnesium
                                p.card-price
                                    span.price-new Rp150.000
                                    span.price-old.text-muted Rp300.000
                    .col-md-4.mb-4
                        .card.border-0.shadow
                            img.card-img-top(src="./assets/img/product3.png", alt="Snovv VitC")
                            .card-body.text-center
                                h5.card-title Snovv Liposome Vitamin C
                                p.card-price
                                    span.price-new Rp150.000
                                    span.price-old.text-muted Rp300.000

        // Section Banner Promo
        section.promo-section.py-5
            .container
                .carousel.slide(data-bs-ride="carousel")
                    ol.carousel-indicators
                        li(data-target="#promoCarausel" data-slide-to="0" class="active")
                        li(data-target="#promoCarausel" data-slide-to="1")
                        li(data-target="#promoCarausel" data-slide-to="2")
                    .carousel-inner
                        .carousel-item.active
                            .row.align-items-center
                                img(src="./assets/img/img_promo1.png", alt="Snovv Promo")
                        .carousel-item
                            .row.align-items-center
                                img(src="./assets/img/img_promo1.png", alt="Snovv Promo")
                        .carousel-item
                            .row.align-items-center
                                img(src="./assets/img/img_promo1.png", alt="Snovv Promo")

        // Section Top Product
        section.reviewWebsite
            h1.text-center What They Say
            .row
                .carousel.slide#reviewWeb(data-bs-ride="carousel")
                    .carousel-indicators
                        button(type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1")
                        button(type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2")
                        button(type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3")
            
                .carousel-inner
                    .carousel-item-active
                        .row
                            .col-md-4.mb-6
                                .card.border-0.shadow
                                    img.card-img-top(src="./assets/img/revWeb1.png", alt="Snovv Glutathione")
                                    .card-body.text-center
                                        h5.card-title Snovv Glutathione
                                        p.card-price
                                        span.price-new Rp250.000
                                        span.price-old.text-muted Rp350.000
                            .col-md-4.mb-6
                                .card.border-0.shadow
                                    img.card-img-top(src="./assets/img/revWeb2.png", alt="Snovv Glutathione")
                                    .card-body.text-center
                                        h5.card-title Snovv Glutathione
                                        p.card-price
                                        span.price-new Rp250.000
                                        span.price-old.text-muted Rp350.000
                            .col-md-4.mb-6
                                .card.border-0.shadow
                                    img.card-img-top(src="./assets/img/revWeb3.png", alt="Snovv Glutathione")
                                    .card-body.text-center
                                        h5.card-title Snovv Glutathione
                                        p.card-price
                                        span.price-new Rp250.000
                                        span.price-old.text-muted Rp350.000
                            .col-md-4.mb-6
                                .card.border-0.shadow
                                    img.card-img-top(src="./assets/img/revWeb3.png", alt="Snovv Glutathione")
                                    .card-body.text-center
                                        h5.card-title Snovv Glutathione
                                        p.card-price
                                        span.price-new Rp250.000
                                        span.price-old.text-muted Rp350.000
                            .col-md-4.mb-4
                                .card.border-0.shadow
                                    img.card-img-top(src="./assets/img/revWeb4.png", alt="Snovv Glutathione")
                                    .card-body.text-center
                                        h5.card-title Snovv Glutathione
                                        p.card-price
                                        span.price-new Rp250.000
                                        span.price-old.text-muted Rp350.000
                    .carousel-item
                        .row
                            .col-md-4.mb-4
                                .card.border-0.shadow
                                    img.card-img-top(src="./assets/img/product1.png", alt="Snovv Glutathione")
                                .card-body.text-center
                                    h5.card-title Snovv Glutathione
                                    p.card-price
                                    span.price-new Rp250.000
                                    span.price-old.text-muted Rp350.000
                            .col-md-4.mb-4
                                .card.border-0.shadow
                                    img.card-img-top(src="./assets/img/product1.png", alt="Snovv Glutathione")
                                .card-body.text-center
                                    h5.card-title Snovv Glutathione
                                    p.card-price
                                    span.price-new Rp250.000
                                    span.price-old.text-muted Rp350.000
                            .col-md-4.mb-4
                                .card.border-0.shadow
                                    img.card-img-top(src="./assets/img/product1.png", alt="Snovv Glutathione")
                                .card-body.text-center
                                    h5.card-title Snovv Glutathione
                                    p.card-price
                                    span.price-new Rp250.000
                                    span.price-old.text-muted Rp350.000

        section.avaibleStore
            .container
                h6.text-center Our products are available at
                .row.gx-5.justify-content-center.p-3
                    .col-md-2
                        img(src="./assets/img/partner1.png")
                    .col-md-2
                        img(src="./assets/img/partner2.png")
                    .col-md-2
                        img(src="./assets/img/partner3.png")
                    .col-md-2
                        img(src="./assets/img/partner4.png")

        // Section Top Product
        section.vSight.py-5
            .vsight_container
                .wrapper
                    h1 V-Sight
                    a.btn view more
                .row.gx-5
                    //- Product 1
                    .col-md-4.mb-4.Vcontent
                        img(src="./assets/img/article1.png")
                        h4.card-title 7 Recommended Korean Supplements 
                        p 1 November 2024
                    .col-md-4.mb-4.Vcontent
                        img(src="./assets/img/article2.png")
                        h4.card-title Keep healhty inside, fresh outside
                        p 1 November 2024
                    .col-md-4.mb-4.Vcontent
                        img(src="./assets/img/article3.png")
                        h4.card-title 7 Keys to keep your face brighter through the day
                        p 3 Oktober 2024

        // Footer
        include includes/footer.pug
        