doctype html
html(lang='en')

    include includes/head.pug
    body
        include includes/header.pug

        // Section Top Product
        section.listproducts
            h1.text-center Produk
            .row
                ul.product-container
                    li.product
                        a.linkToDetail(href="productDetail1.html")
                            .imgWrapper
                                img.imgProduct(src="./assets/img/product1.png")
                            .infoProduct
                                span.productName Snovv Glutathione
                                .priceWrapper
                                    span.discountPrice ± Rp 350.000
                                    .priceGroup
                                        span.normalPrice Rp 500.000
                                        span.numberRate 43%
                    li.product
                        a.linkToDetail(href="productDetail2.html")
                            .imgWrapper
                                img.imgProduct(src="./assets/img/product2.png")
                            .infoProduct
                                span.productName Snovv Energy Magnesium
                                .priceWrapper
                                    span.discountPrice ± Rp 350.000
                                    .priceGroup
                                        span.normalPrice Rp 500.000
                                        span.numberRate 43%
                    li.product
                        a.linkToDetail(href="productDetail3.html")
                            .imgWrapper
                                img.imgProduct(src="./assets/img/product3.png")
                            .infoProduct
                                span.productName Snovv Liposome Vitamin C
                                .priceWrapper
                                    span.discountPrice ± Rp 350.000
                                    .priceGroup
                                        span.normalPrice Rp 500.000
                                        span.numberRate 43%
                    li.product
                        a.linkToDetail(href="productDetail3.html")
                            .imgWrapper
                                img.imgProduct(src="./assets/img/product4.png")
                            .infoProduct
                                span.productName Snovv Glutathione + Vitamin C
                                .priceWrapper
                                    span.discountPrice ± Rp 350.000
                                    .priceGroup
                                        span.normalPrice Rp 500.000
                                        span.numberRate 43%
                    li.product
                        a.linkToDetail(href="productDetail3.html")
                            .imgWrapper
                                img.imgProduct(src="./assets/img/product5.png")
                            .infoProduct
                                span.productName Snovv 3 Mini Pack
                                .priceWrapper
                                    span.discountPrice ± Rp 350.000
                                    .priceGroup
                                        span.normalPrice Rp 500.000
                                        span.numberRate 43%
                    li.product
                        a.linkToDetail(href="productDetail3.html")
                            .imgWrapper
                                img.imgProduct(src="./assets/img/product5.png")
                            .infoProduct
                                span.productName Snovv 3 Mini Pack
                                .priceWrapper
                                    span.discountPrice ± Rp 350.000
                                    .priceGroup
                                        span.normalPrice Rp 500.000
                                        span.numberRate 43%
                    
        // Footer
        include includes/footer.pug
        include includes/customJS.pug
        script.
            // Function to handle the window resize
            function handleResize() {
                let priceWrappercss1 = "";
                let priceWrappercss2 = "";
                let priceWrappercss3 = "";
                let priceWrappercss4 = "";
                let priceWrappercss5 = "";
                let priceWrappercss6 = "";
                if (window.innerWidth < 800) {
                    priceWrappercss1 = `
                        <span class="discountPrice"> ± Rp 350.000 </span>
                        <div class="mobilediscountWrapper">
                            <span class="normalPrice"> Rp 500.000 </span>
                            <div class="rateWrapper">
                                <span class="numberRate"> 43% </span>
                            </div>
                        </div>`;
                    priceWrappercss2 = `
                        <span class="discountPrice"> ± Rp 350.000 </span>
                        <div class="mobilediscountWrapper">
                            <span class="normalPrice"> Rp 500.000 </span>
                            <div class="rateWrapper">
                                <span class="numberRate"> 43% </span>
                            </div>
                        </div>`;
                    priceWrappercss3 = `
                        <span class="discountPrice"> ± Rp 350.000 </span>
                        <div class="mobilediscountWrapper">
                            <span class="normalPrice"> Rp 500.000 </span>
                            <div class="rateWrapper">
                                <span class="numberRate"> 43% </span>
                            </div>
                        </div>`;
                    priceWrappercss4 = `
                        <span class="discountPrice"> ± Rp 350.000 </span>
                        <div class="mobilediscountWrapper">
                            <span class="normalPrice"> Rp 500.000 </span>
                            <div class="rateWrapper">
                                <span class="numberRate"> 43% </span>
                            </div>
                        </div>`;
                    priceWrappercss5 = `
                        <span class="discountPrice"> ± Rp 350.000 </span>
                        <div class="mobilediscountWrapper">
                            <span class="normalPrice"> Rp 500.000 </span>
                            <div class="rateWrapper">
                                <span class="numberRate"> 43% </span>
                            </div>
                        </div>`;
                    priceWrappercss6 = `
                        <span class="discountPrice"> ± Rp 350.000 </span>
                        <div class="mobilediscountWrapper">
                            <span class="normalPrice"> Rp 500.000 </span>
                            <div class="rateWrapper">
                                <span class="numberRate"> 43% </span>
                            </div>
                        </div>`;
                } else {
                    priceWrappercss1 = `
                        <span class="discountPrice"> ± Rp 450.000 </span>
                        <span class="normalPrice"> Rp 950.000 </span>
                        <div class="rateWrapper">
                            <span class="numberRate"> 43% </span>
                        </div>`;
                    priceWrappercss2 = `
                        <span class="discountPrice"> ± Rp 450.000 </span>
                        <span class="normalPrice"> Rp 950.000 </span>
                        <div class="rateWrapper">
                            <span class="numberRate"> 43% </span>
                        </div>`;
                    priceWrappercss3 = `
                        <span class="discountPrice"> ± Rp 450.000 </span>
                        <span class="normalPrice"> Rp 950.000 </span>
                        <div class="rateWrapper">
                            <span class="numberRate"> 43% </span>
                        </div>`;
                    priceWrappercss4 = `
                        <span class="discountPrice"> ± Rp 450.000 </span>
                        <span class="normalPrice"> Rp 950.000 </span>
                        <div class="rateWrapper">
                            <span class="numberRate"> 43% </span>
                        </div>`;
                    priceWrappercss5 = `
                        <span class="discountPrice"> ± Rp 450.000 </span>
                        <span class="normalPrice"> Rp 950.000 </span>
                        <div class="rateWrapper">
                            <span class="numberRate"> 43% </span>
                        </div>`;
                    priceWrappercss6 = `
                        <span class="discountPrice"> ± Rp 450.000 </span>
                        <span class="normalPrice"> Rp 950.000 </span>
                        <div class="rateWrapper">
                            <span class="numberRate"> 43% </span>
                        </div>`;
                }

                $('#priceTagcss1').append(priceWrappercss1);
                $('#priceTagcss2').append(priceWrappercss2);
                $('#priceTagcss3').append(priceWrappercss3);
                $('#priceTagcss4').append(priceWrappercss4);
                $('#priceTagcss5').append(priceWrappercss5);
                $('#priceTagcss6').append(priceWrappercss6);
            }

            // Attach the resize event listener
            //- window.addEventListener('resize', handleResize);