doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Vitazen – Minuman Kecantikan untuk Kulit Cerah dan Sehat

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Bootstrap icons
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet', type='text/css')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body
        // Top bar for promotional message
        .bg-dark.text-white.py-1
            .container.text-center
                span Glutathione + Vitamin C 1-month limited edition package, 53% discount!

        // Main navigation bar
        nav.navbar.navbar-expand-lg.navbar-light.bg-white.border-bottom
            .container
                // Logo
                a.navbar-brand(href="#") 
                    img(src="path-to-logo.png" alt="Vitazen Logo" height="30")

                // Hamburger menu for smaller screens
                button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
                    span.navbar-toggler-icon
            
                // Navigation menu
                .collapse.navbar-collapse#navbarNav
                    ul.navbar-nav.mx-auto
                        li.nav-item
                            a.nav-link.active(href="index.html") Home
                        li.nav-item
                            a.nav-link(href="products.html") Products
                        li.nav-item
                            a.nav-link(href="#") V-Sight
                        li.nav-item
                            a.nav-link(href="#") About Us
                // Contact button to the right
                a.btn.btn-primary.ms-3.text-white(href="contact-us.html") Contact Us

        // Section blogs post
        section.posts-section
            .container.my-5
                h1.text-center.mb-4 V-Sight
                .row
                    .col-md-4.mb-4
                        .card
                        img.card-img-top(src="assets/img/snovv-gluta.png")
                        .card-body
                            h5.card-title= "7 Recommended Korean Supplements"
                            p.card-text= "1 November 2024"
                nav
                    ul.pagination.justify-content-center
                        li.page-item
                            a.page-link(href="#") Previous
                        li.page-item.active
                            a.page-link(href="#") 1
                        li.page-item
                            a.page-link(href="#") 2
                        li.page-item
                            a.page-link(href="#") Next

        
        // Footer
        .footer
            .container
                .row
                    .col-md-6
                        h2 VITAZEN
                        p Sign up for email updates on products, launches, and events.
                        form.d-flex(action="#", method="POST")
                            input.form-control(type="email", placeholder="Email")
                            button.btn.btn-primary(type="submit") Submit
                    .col-md-6.text-md-end
                        h5 Contact Us
                        p AIA CENTRAL 21st FL. 
                        p Jl. Jenderal Sudirman No.Kav. 48A, 
                        p Karet Semanggi, Kecamatan Setiabudi, 
                        p Kota Jakarta Selatan, DKI Jakarta 12930
                        a(href="mailto:admin@vitazen.com") admin@vitazen.com
                        .social-icons
                        a(href="#", target="_blank").me-2
                            i.bi.bi-tiktok
                        a(href="#", target="_blank").me-2
                            i.bi.bi-youtube
                        a(href="#", target="_blank")
                            i.bi.bi-instagram
                .row.mt-3
                    .col-md-6
                        p &copy; Vitazen. 2024 All rights reserved.
                    .col-md-6.text-md-end
                        a(href="#") Privacy Policy
                        ||
                        a(href="#") Terms & Conditions


        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
        