doctype html
html(lang='en')

    include includes/head.pug
    body
        include includes/header.pug

        // Section Top Product
        
        .headerBox
                .text-center
                    h1.title V-Sight
        nav.navbar.navbar-expand-lg.navbar-light#hideNavmobile(style="padding: 0;")
            .container-fluid
                .form-group.has-search
                    span.fa.fa-search.form-control-feedback
                    input.form-control(type="text" placeholder="Cari Artikel" style="background-color: #F7F7F7;")
                .collapse.navbar-collapse#navbarNav
                    ul.navbar-nav.mx-auto
                        .menuNav1
                            li.nav-item
                                a.kategoriWrapper(href="#") Kategori 1
                            li.nav-item
                                a.kategoriWrapper(href="#") 
                                    .spanKategori Kategori 2
                            li.nav-item
                                a.kategoriWrapper(href="#") 
                                    .spanKategori Kategori 3
                            li.nav-item
                                a.kategoriWrapper(href="#") 
                                    .spanKategori Kategori 4
                            li.nav-item
                                a.kategoriWrapper(href="#") 
                                    .spanKategori Kategori 5
                .dropdown.d-flex.justify-content-end
                    span.align-self-center#hideForMobile(style="padding-right:15px;") Urutkan berdasarkan
                    a.btn.btn-outline-secondary.btn-sm.dropdown-toggle#filterDropdown(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") Terbaru
                    ul.dropdown-menu(aria-labelledby="filterDropdown")
                        li
                            a.dropdown-item(href="#") Date
                        li
                            a.dropdown-item(href="#") Rating
                        li
                            a.dropdown-item(href="#") Media
        section.vSightpage
            .row
                ul.vsight-container
                    li.vsight
                        a.linkToDetail(href="detailVsight.html")
                            img.Vimg(src="./assets/img/article1.jpg")
                            .Vwrapper
                                span.vTitle 7 Rekomendasi Suplemen Korea
                                span.vDate 1 November 2024
                    li.vsight
                        a.linkToDetail(href="detailVsight.html")
                            img.Vimg(src="./assets/img/article2.jpg")
                            .Vwrapper
                                span.vTitle Sehat di dalam, Segar di luar
                                span.vDate 1 November 2024
                    li.vsight
                        a.linkToDetail(href="detailVsight.html")
                            img.Vimg(src="./assets/img/article3.jpg")
                            .Vwrapper
                                span.vTitle 7 Kunci Menjaga Wajah Tetap Cerah Sepanjang Hari
                                span.vDate 1 November 2024
                    li.vsight
                        a.linkToDetail(href="detailVsight.html")
                            img.Vimg(src="./assets/img/article1.jpg")
                            .Vwrapper
                                span.vTitle 7 Rekomendasi Suplemen Korea
                                span.vDate 1 November 2024
                    li.vsight
                        a.linkToDetail(href="detailVsight.html")
                            img.Vimg(src="./assets/img/article2.jpg")
                            .Vwrapper
                                span.vTitle 7 Recommended Korean Supplements
                                span.vDate 1 November 2024
                    li.vsight
                        a.linkToDetail(href="detailVsight.html")
                            img.Vimg(src="./assets/img/article3.jpg")
                            .Vwrapper
                                span.vTitle Sehat di dalam, Segar di luar
                                span.vDate 1 November 2024
                    li.vsight
                        a.linkToDetail(href="detailVsight.html")
                            img.Vimg(src="./assets/img/article1.jpg")
                            .Vwrapper
                                span.vTitle 7 Kunci Menjaga Wajah Tetap Cerah Sepanjang Hari
                                span.vDate 1 November 2024
                nav
                    ul.pagination.justify-content-center
                        li.page-item
                            a.page-link(href="#") 
                                i.fa.fa-chevron-left.colored
                        li.page-item.active
                            a.page-link(href="#") 1
                        li.page-item
                            a.page-link(href="#")
                                i.fa.fa-chevron-right.colored

        
    // Footer
    include includes/footer.pug
    include includes/customJS.pug