doctype html
html(lang='en')

    include includes/head.pug
    body
        include includes/header.pug

        // Section Top Product
        section.vSight
            .text-center
                span.title V-Sight
            .row
                ul.vsight-container
                    li.vsight
                        a.linkToDetail(href="detailVsight.html")
                            img.Vimg(src="./assets/img/article1.png")
                            .Vwrapper
                                span.vTitle 7 Recommended Korean Supplements Supplements Supplements
                                span.vDate 1 November 2024
                    li.vsight
                        a.linkToDetail(href="detailVsight.html")
                            img.Vimg(src="./assets/img/article2.png")
                            .Vwrapper
                                span.vTitle Keep healhty inside, fresh outside
                                span.vDate 1 November 2024
                    li.vsight
                        a.linkToDetail(href="detailVsight.html")
                            img.Vimg(src="./assets/img/article3.png")
                            .Vwrapper
                                span.vTitle 7 Keys to keep your face brighter through the day
                                span.vDate 1 November 2024
                    li.vsight
                        a.linkToDetail(href="detailVsight.html")
                            img.Vimg(src="./assets/img/article1.png")
                            .Vwrapper
                                span.vTitle 7 Recommended Korean Supplements
                                span.vDate 1 November 2024
                    li.vsight
                        a.linkToDetail(href="detailVsight.html")
                            img.Vimg(src="./assets/img/article2.png")
                            .Vwrapper
                                span.vTitle 7 Recommended Korean Supplements
                                span.vDate 1 November 2024
                    li.vsight
                        a.linkToDetail(href="detailVsight.html")
                            img.Vimg(src="./assets/img/article3.png")
                            .Vwrapper
                                span.vTitle 7 Recommended Korean Supplements
                                span.vDate 1 November 2024
                    li.vsight
                        a.linkToDetail(href="detailVsight.html")
                            img.Vimg(src="./assets/img/article2.png")
                            .Vwrapper
                                span.vTitle 7 Recommended Korean Supplements
                                span.vDate 1 November 2024
                nav
                    ul.pagination.justify-content-center
                        li.page-item
                            a.page-link(href="#") 
                                i.fa.fa-chevron-left.colored
                        li.page-item.active
                            a.page-link(href="#") 1
                        li.page-item
                            a.page-link(href="#") 2
                        li.page-item
                            a.page-link(href="#")
                                i.fa.fa-chevron-right.colored2

        
    // Footer
    include includes/footer.pug
    include includes/customJS.pug