doctype html
html(lang='en')

    include includes/head.pug
    body
        include includes/header.pug

        // Section Top Product
        section.vSightpage
            .headerBox
                .text-center
                    h1.title V-Sight
                .dropdown.d-flex.justify-content-end
                    span.align-self-center#hideForMobile(style="padding-right:15px;") Urutkan berdasarkan
                    a.btn.btn-outline-secondary.btn-sm.dropdown-toggle#filterDropdown(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") Terbaru
                    ul.dropdown-menu(aria-labelledby="filterDropdown")
                        li
                            a.dropdown-item(href="#") Date
                        li
                            a.dropdown-item(href="#") Rating
                        li
                            a.dropdown-item(href="#") Media
                
            .row
                nav.navbar.navbar-expand-lg.navbar-light(style="display:flex;")
                    ul.navbar-nav.me-auto.mb-2.mb-lg-0
                        li.nav-item
                            a.nav-link.active(href="index.html") Beranda
                        li.nav-item
                            a.nav-link(href="products.html") Produk
                        li.nav-item
                            a.nav-link(href="v-sight.html") V-Sight
                        li.nav-item
                            a.nav-link(href="aboutUs.html") Tentang kami
                        li.nav-item#kontakMobile
                            a.nav-link(href="contact-us.html") Hubungi kami
                    form.d-flex(role="search")
                        input.form-control.me-2(type="search" placeholder="Search" aria-label="Search")
                        button.btn.btn-outline-secondary(type="submit") Cari
                    
                    
            .row
                ul.vsight-container
                    li.vsight
                        a.linkToDetail(href="detailVsight.html")
                            img.Vimg(src="./assets/img/article1.jpg")
                            .Vwrapper
                                span.vTitle 7 Rekomendasi Suplemen Korea
                                span.vDate 1 November 2024
                    li.vsight
                        a.linkToDetail(href="detailVsight.html")
                            img.Vimg(src="./assets/img/article2.jpg")
                            .Vwrapper
                                span.vTitle Sehat di dalam, Segar di luar
                                span.vDate 1 November 2024
                    li.vsight
                        a.linkToDetail(href="detailVsight.html")
                            img.Vimg(src="./assets/img/article3.jpg")
                            .Vwrapper
                                span.vTitle 7 Kunci Menjaga Wajah Tetap Cerah Sepanjang Hari
                                span.vDate 1 November 2024
                    li.vsight
                        a.linkToDetail(href="detailVsight.html")
                            img.Vimg(src="./assets/img/article1.jpg")
                            .Vwrapper
                                span.vTitle 7 Rekomendasi Suplemen Korea
                                span.vDate 1 November 2024
                    li.vsight
                        a.linkToDetail(href="detailVsight.html")
                            img.Vimg(src="./assets/img/article2.jpg")
                            .Vwrapper
                                span.vTitle 7 Recommended Korean Supplements
                                span.vDate 1 November 2024
                    li.vsight
                        a.linkToDetail(href="detailVsight.html")
                            img.Vimg(src="./assets/img/article3.jpg")
                            .Vwrapper
                                span.vTitle Sehat di dalam, Segar di luar
                                span.vDate 1 November 2024
                    li.vsight
                        a.linkToDetail(href="detailVsight.html")
                            img.Vimg(src="./assets/img/article1.jpg")
                            .Vwrapper
                                span.vTitle 7 Kunci Menjaga Wajah Tetap Cerah Sepanjang Hari
                                span.vDate 1 November 2024
                nav
                    ul.pagination.justify-content-center
                        li.page-item
                            a.page-link(href="#") 
                                i.fa.fa-chevron-left.colored
                        li.page-item.active
                            a.page-link(href="#") 1
                        li.page-item
                            a.page-link(href="#")
                                i.fa.fa-chevron-right.colored

        
    // Footer
    include includes/footer.pug
    include includes/customJS.pug