doctype html
html(lang='en')

    include includes/head.pug
    body
        include includes/header.pug

        // Section Top Product
        section.vSightpage
            .text-center
                span.title V-Sight
            .row
                .dropdown.d-flex.justify-content-end
                    span.align-self-center(style="padding-right:15px;") Urutkan berdasarkan
                    a.btn.btn-outline-secondary.dropdown-toggle#filterDropdown(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") Terbaru
                    ul.dropdown-menu(aria-labelledby="filterDropdown")
                        li
                            a.dropdown-item(href="#") Date
                        li
                            a.dropdown-item(href="#") Rating
                        li
                            a.dropdown-item(href="#") Media
                            
                ul.vsight-container
                    li.vsight
                        a.linkToDetail(href="detailVsight.html")
                            img.Vimg(src="./assets/img/article4.jpg")
                            .Vwrapper
                                span.vTitle 7 Rekomendasi Suplemen Korea
                                span.vDate 1 November 2024
                    li.vsight
                        a.linkToDetail(href="detailVsight.html")
                            img.Vimg(src="./assets/img/article5.jpg")
                            .Vwrapper
                                span.vTitle Sehat di dalam, Segar di luar
                                span.vDate 1 November 2024
                    li.vsight
                        a.linkToDetail(href="detailVsight.html")
                            img.Vimg(src="./assets/img/article6.jpg")
                            .Vwrapper
                                span.vTitle 7 Kunci Menjaga Wajah Tetap Cerah Sepanjang Hari
                                span.vDate 1 November 2024
                    li.vsight
                        a.linkToDetail(href="detailVsight.html")
                            img.Vimg(src="./assets/img/article4.jpg")
                            .Vwrapper
                                span.vTitle 7 Rekomendasi Suplemen Korea
                                span.vDate 1 November 2024
                    li.vsight
                        a.linkToDetail(href="detailVsight.html")
                            img.Vimg(src="./assets/img/article5.jpg")
                            .Vwrapper
                                span.vTitle 7 Recommended Korean Supplements
                                span.vDate 1 November 2024
                    li.vsight
                        a.linkToDetail(href="detailVsight.html")
                            img.Vimg(src="./assets/img/article6.jpg")
                            .Vwrapper
                                span.vTitle Sehat di dalam, Segar di luar
                                span.vDate 1 November 2024
                    li.vsight
                        a.linkToDetail(href="detailVsight.html")
                            img.Vimg(src="./assets/img/article4.jpg")
                            .Vwrapper
                                span.vTitle 7 Kunci Menjaga Wajah Tetap Cerah Sepanjang Hari
                                span.vDate 1 November 2024
                nav
                    ul.pagination.justify-content-center
                        li.page-item
                            a.page-link(href="#") 
                                i.fa.fa-chevron-left.colored
                        li.page-item.active
                            a.page-link(href="#") 1
                        li.page-item
                            a.page-link(href="#") 2
                        li.page-item
                            a.page-link(href="#")
                                i.fa.fa-chevron-right.colored2

        
    // Footer
    include includes/footer.pug
    include includes/customJS.pug